In [1]:
import sqlparse
import networkx as nx
import re
import pandas as pd

In [3]:
sql_content = open("./01_02_Claims.sql").read()

FileNotFoundError: [Errno 2] No such file or directory: './01_02_Claims.sql'

In [2]:
sql_statements = sqlparse.split(sql_content)
for sql_statement in sql_statements:
    print(sqlparse.parse(sql_statement))
    query_lines = []
    parsed_statement = sqlparse.parse(sql_statement)[0]
    for sql_line in parsed_statement.value.split("\n"):
        if not sql_line.startswith("#"):
            query_lines.append(" ".join(sql_line.split()))
    single_line_query = " ".join(query_lines).replace("[\s]+", " ")
    print((parsed_statement.get_type().lower()))
    print(single_line_query)
    print("--")

NameError: name 'sql_content' is not defined

# Dependency Generation

In [3]:
cd ..

/Users/bcard/Library/CloudStorage/OneDrive-AmericanInstitutesforResearchintheBehavioralSciences/projects/patentsview/PatentsView-DB/reporting_database_generator

In [20]:
ls

00_Creation.sql               05_02_index.sql
01_01_Govt_Interest.sql       05_03_index.sql
01_02_Claims.sql              05_04_index.sql
01_03_ID_Mappings.sql         05_05_index.sql
01_04_Application.sql         05_06_index.sql
01_05_Wipo.sql                05_07_index.sql
02_Patent.sql                 05_08_index.sql
03_01_Location.sql            05_09_index.sql
03_02_Assignee.sql            05_10_index.sql
03_03_Inventor.sql            05_11_index.sql
03_04_Lawyer.sql              05_12_index.sql
03_05_Examiner.sql            06_Reporting_Tables.sql
03_06_Foreign_Priority.sql    07_half_join.sql
03_07_PCT.sql                 __init__.py
03_08_US_App_Citation.sql     __pycache__/
03_09_US_Patent_Citation.sql  database/
03_10_CPC.sql                 dependency_analysis/
03_11_IPCR.sql                final.csv
03_12_Nber.sql                other_miscellaneous_tasks/
03_13_uspc.sql                reporting_db_location_id.csv
04_Support.sql                table_levels.csv
05_01_index.sql

In [23]:
index_queries = []
import os
list1 = os.listdir()
for i in list1:
    print(i)
#     if not i[0] == '0':
    if 'index' in i:
        index_queries.append(i)

03_12_Nber.sql
03_09_US_Patent_Citation.sql
05_10_index.sql
database
05_04_index.sql
table_levels.csv
05_09_index.sql
05_02_index.sql
.DS_Store
01_05_Wipo.sql
03_01_Location.sql
02_Patent.sql
01_01_Govt_Interest.sql
dependency_analysis
00_Creation.sql
01_02_Claims.sql
05_05_index.sql
05_11_index.sql
07_half_join.sql
03_13_uspc.sql
03_06_Foreign_Priority.sql
05_08_index.sql
05_03_index.sql
reporting_db_location_id.csv
03_04_Lawyer.sql
__init__.py
03_08_US_App_Citation.sql
__pycache__
03_07_PCT.sql
03_10_CPC.sql
05_12_index.sql
01_04_Application.sql
05_06_index.sql
03_03_Inventor.sql
01_03_ID_Mappings.sql
06_Reporting_Tables.sql
other_miscellaneous_tasks
03_05_Examiner.sql
03_02_Assignee.sql
03_11_IPCR.sql
05_07_index.sql
04_Support.sql
final.csv
05_01_index.sql

In [24]:
index_queries

['05_10_index.sql',
 '05_04_index.sql',
 '05_09_index.sql',
 '05_02_index.sql',
 '05_05_index.sql',
 '05_11_index.sql',
 '05_08_index.sql',
 '05_03_index.sql',
 '05_12_index.sql',
 '05_06_index.sql',
 '05_07_index.sql',
 '05_01_index.sql']

In [25]:
len(index_queries)

12

In [282]:
list1.remove('03_01_Location.sql')

In [5]:
my_list = ['02_Patent.sql','01_03_ID_Mappings.sql','03_01_Location.sql', '03_03_Inventor.sql', '03_02_Assignee.sql']

In [6]:
all_insert_queries = []
for sql_file in my_list:
    all_sql_content = open(sql_file).read()
    sql_statements = sqlparse.split(all_sql_content)

In [7]:
sql_statements

["# BEGIN assignee\n\n##############################################################################################################################################\n\n#this is necessary because otherwise the subqueries wierdly have a different collation\nSET collation_connection = 'utf8mb4_unicode_ci';",
 'drop table if exists `{{params.reporting_database}}`.`temp_assignee_lastknown_location`;',
 'create table `{{params.reporting_database}}`.`temp_assignee_lastknown_location`\n(\n    `assignee_id`            varchar(64)  not null,\n    `location_id`            int unsigned null,\n    `persistent_location_id` varchar(128) null,\n    `city`                   varchar(128) null,\n    `state`                  varchar(20)  null,\n    `country`                varchar(10)  null,\n    `latitude`               float        null,\n    `longitude`              float        null,\n    primary key (`assignee_id`)\n)\n    engine = InnoDB;',
 "# Populate temp_assignee_lastknown_location table.  The goal here is to grab the location associated\n# with the most recent patent associated with the assignee.  It is possible for a patent/assignee\n# combination not to have a location, so we will grab the most recent KNOWN location.\n\ninsert into `{{params.reporting_database}}`.`temp_assignee_lastknown_location`\n(`assignee_id`, `location_id`, `persistent_location_id`, `city`, `state`, `country`, `latitude`, `longitude`)\nselect lastknown.`assignee_id`,\n       tl.`new_location_id`,\n       tl.`old_location_id_transformed`,\n       nullif(trim(l.`city`), ''),\n       nullif(trim(l.`state`), ''),\n       nullif(trim(l.`country`), ''),\n       l.`latitude`,\n       l.`longitude`\nfrom (\n         select srw.`assignee_id`,\n                srw.`location_id`\n         from (select ROW_NUMBER() OVER (PARTITION BY rw.assignee_id ORDER BY rw.`date` desc) AS rownum,\n                      rw.`assignee_id`,\n                      rw.`location_id`\n               from (\n                        select ra.`assignee_id`,\n                               rl.`location_id`,\n                               p.`date`,\n                               p.`id`\n                        from `{{params.raw_database}}`.`rawassignee` ra\n                                 inner join `{{params.raw_database}}`.`patent` p on p.`id` = ra.`patent_id`\n                                 inner join `{{params.raw_database}}`.`rawlocation` rl on rl.`id` = ra.`rawlocation_id`\n                          and ra.`assignee_id` is not null and ra.version_indicator <={{ params.version_indicator }}\n                        order by ra.`assignee_id`,\n                                 p.`date` desc,\n                                 p.`id` desc\n                    ) rw) srw\n         where rownum = 1) lastknown\n         left join `{{params.raw_database}}`.`location` l on l.`id` = lastknown.`location_id`\n         left join `{{params.reporting_database}}`.`temp_id_mapping_location` tl\n                   on tl.`old_location_id` = lastknown.`location_id`;",
 'drop table if exists `{{params.reporting_database}}`.`temp_assignee_num_patents`;',
 'create table `{{params.reporting_database}}`.`temp_assignee_num_patents`\n(\n    `assignee_id` varchar(64)  not null,\n    `num_patents` int unsigned not null,\n    primary key (`assignee_id`)\n)\n    engine = InnoDB;',
 'insert into `{{params.reporting_database}}`.`temp_assignee_num_patents`\n    (`assignee_id`, `num_patents`)\nselect `assignee_id`,\n       count(distinct `patent_id`)\nfrom `{{params.raw_database}}`.`patent_assignee` pa join `{{ params.raw_database }}`.`patent` p on p.id=pa.patent_id where p.version_indicator <={{ params.version_indicator }}\ngroup by `assignee_id`;',
 'drop table if exists `{{params.reporting_database}}`.`temp_assignee_num_inventors`;',
 'create table `{{params.reporting_database}}`.`temp_assignee_num_inventors`\n(\n    `assignee_id`   varchar(64)  not null,\n    `num_inventors` int unsigned not null,\n    primary key (`assignee_id`)\n)\n    engine = InnoDB;',
 'insert into `{{params.reporting_database}}`.`temp_assignee_num_inventors`\n    (`assignee_id`, `num_inventors`)\nselect aa.`assignee_id`,\n       count(distinct ii.`inventor_id`)\nfrom `{{params.raw_database}}`.`patent_assignee` aa\n         join `{{params.raw_database}}`.`patent_inventor` ii on ii.patent_id = aa.patent_id  join `{{ params.raw_database }}`.`patent` p on p.id=aa.patent_id where p.version_indicator <={{ params.version_indicator }}\ngroup by aa.`assignee_id`;',
 'drop table if exists `{{params.reporting_database}}`.`temp_assignee_years_active`;',
 'create table `{{params.reporting_database}}`.`temp_assignee_years_active`\n(\n    `assignee_id`         varchar(64)       not null,\n    `first_seen_date`     date              null,\n    `last_seen_date`      date              null,\n    `actual_years_active` smallint unsigned not null,\n    primary key (`assignee_id`)\n)\n    engine = InnoDB;',
 '# Years active is essentially the number of years difference between first associated patent and last.\n\ninsert into `{{params.reporting_database}}`.`temp_assignee_years_active`\n(`assignee_id`, `first_seen_date`, `last_seen_date`, `actual_years_active`)\nselect pa.`assignee_id`,\n       min(p.`date`),\n       max(p.`date`),\n       ifnull(round(timestampdiff(day, min(p.`date`), max(p.`date`)) / 365), 0)\nfrom `{{params.raw_database}}`.`patent_assignee` pa\n         inner join `{{params.reporting_database}}`.`patent` p on p.`patent_id` = pa.`patent_id`\nwhere p.`date` is not null\ngroup by pa.`assignee_id`;',
 'drop table if exists `{{params.reporting_database}}`.`patent_assignee`;',
 'create table `{{params.reporting_database}}`.`patent_assignee`\n(\n    `patent_id`   varchar(20)       not null,\n    `assignee_id` int unsigned      not null,\n    `location_id` int unsigned      null,\n    `sequence`    smallint unsigned not null,\n    primary key (`patent_id`, `assignee_id`),\n    unique index ak_patent_assignee (`assignee_id`, `patent_id`)\n)\n    engine = InnoDB;',
 '# 4,825,748 @ 7:20\ninsert into `{{params.reporting_database}}`.`patent_assignee`\n(`patent_id`, `assignee_id`, `location_id`, `sequence`)\nselect distinct pa.`patent_id`,\n                t.`new_assignee_id`,\n                tl.`new_location_id`,\n                ra.`sequence`\nfrom `{{params.raw_database}}`.`patent_assignee` pa\n         inner join `{{params.reporting_database}}`.`temp_id_mapping_assignee` t\n                    on t.`old_assignee_id` = pa.`assignee_id`\n         left join (select patent_id, assignee_id, min(sequence) sequence\n                    from `{{params.raw_database}}`.`rawassignee`\n                    where assignee_id is not null\n                    group by patent_id, assignee_id) t\n                   on t.`patent_id` = pa.`patent_id` and t.`assignee_id` = pa.`assignee_id`\n         left join `{{params.raw_database}}`.`rawassignee` ra\n                   on ra.`patent_id` = t.`patent_id` and ra.`assignee_id` = t.`assignee_id` and ra.`sequence`\n                       = t.`sequence`\n         left join `{{params.raw_database}}`.`rawlocation` rl on rl.`id` = ra.`rawlocation_id`\n         left join `{{params.reporting_database}}`.`temp_id_mapping_location` tl\n                   on tl.`old_location_id` = rl.`location_id`;',
 'drop table if exists `{{params.reporting_database}}`.`location_assignee`;',
 'create table `{{params.reporting_database}}`.`location_assignee`\n(\n    `location_id` int unsigned not null,\n    `assignee_id` int unsigned not null,\n    `num_patents` int unsigned,\n    primary key (`location_id`, `assignee_id`)\n)\n    engine = InnoDB;',
 '# 438,452 @ 0:07\ninsert into `{{params.reporting_database}}`.`location_assignee`\n    (`location_id`, `assignee_id`, `num_patents`)\nselect distinct timl.`new_location_id`,\n                tima.`new_assignee_id`,\n                null\nfrom `{{params.raw_database}}`.`location_assignee` la\n         inner join `{{params.reporting_database}}`.`temp_id_mapping_location` timl\n                    on timl.`old_location_id` = la.`location_id`\n         inner join `{{params.reporting_database}}`.`temp_id_mapping_assignee` tima\n                    on tima.`old_assignee_id` = la.`assignee_id`;',
 'drop table if exists `{{params.reporting_database}}`.`assignee`;',
 'create table `{{params.reporting_database}}`.`assignee`\n(\n    `assignee_id`                      int unsigned      not null,\n    `type`                             varchar(10)       null,\n    `name_first`                       varchar(64)       null,\n    `name_last`                        varchar(64)       null,\n    `organization`                     varchar(256)      null,\n    `num_patents`                      int unsigned      not null,\n    `num_inventors`                    int unsigned      not null,\n    `lastknown_location_id`            int unsigned      null,\n    `lastknown_persistent_location_id` varchar(128)      null,\n    `lastknown_city`                   varchar(128)      null,\n    `lastknown_state`                  varchar(20)       null,\n    `lastknown_country`                varchar(10)       null,\n    `lastknown_latitude`               float             null,\n    `lastknown_longitude`              float             null,\n    `first_seen_date`                  date              null,\n    `last_seen_date`                   date              null,\n    `years_active`                     smallint unsigned not null,\n    `persistent_assignee_id`           varchar(64)       not null,\n    primary key (`assignee_id`)\n)\n    engine = InnoDB;',
 "insert into `{{params.reporting_database}}`.`assignee`\n(`assignee_id`, `type`, `name_first`, `name_last`, `organization`,\n `num_patents`, `num_inventors`, `lastknown_location_id`, `lastknown_persistent_location_id`, `lastknown_city`,\n `lastknown_state`, `lastknown_country`, `lastknown_latitude`, `lastknown_longitude`,\n `first_seen_date`, `last_seen_date`, `years_active`, `persistent_assignee_id`)\nselect t.`new_assignee_id`,\n       trim(leading '0' from nullif(trim(a.`type`), '')),\n       nullif(trim(a.`name_first`), ''),\n       nullif(trim(a.`name_last`), ''),\n       nullif(trim(a.`organization`), ''),\n       tanp.`num_patents`,\n       ifnull(tani.`num_inventors`, 0),\n       talkl.`location_id`,\n       talkl.`persistent_location_id`,\n       talkl.`city`,\n       talkl.`state`,\n       talkl.`country`,\n       talkl.`latitude`,\n       talkl.`longitude`,\n       tafls.`first_seen_date`,\n       tafls.`last_seen_date`,\n       ifnull(case when tafls.`actual_years_active` < 1 then 1 else tafls.`actual_years_active` end, 0),\n       a.`id`\nfrom `{{params.raw_database}}`.`assignee` a\n         inner join `{{params.reporting_database}}`.`temp_id_mapping_assignee` t on t.`old_assignee_id` = a.`id`\n         left outer join `{{params.reporting_database}}`.`temp_assignee_lastknown_location` talkl\n                         on talkl.`assignee_id` = a.`id`\n         inner join `{{params.reporting_database}}`.`temp_assignee_num_patents` tanp on tanp.`assignee_id` = a.`id`\n         left outer join `{{params.reporting_database}}`.`temp_assignee_years_active` tafls\n                         on tafls.`assignee_id` = a.`id`\n         left outer join `{{params.reporting_database}}`.`temp_assignee_num_inventors` tani\n                         on tani.`assignee_id` = a.`id`;",
 '# END assignee\n\n################################################################################################################################################']

In [40]:
all_insert_queries = []
for sql_file in index_queries:
    all_sql_content = open(sql_file).read()
    sql_statements = sqlparse.split(all_sql_content)
    for sql_statement in sql_statements:
        query_lines = []
        parsed_statement = sqlparse.parse(sql_statement)[0]
        for sql_line in parsed_statement.value.split("\n"):
            if not sql_line.startswith("#"):
                query_lines.append(" ".join(sql_line.split()))
        if len(query_lines) < 1:
            continue
        single_line_query = " ".join(query_lines).replace("[\s]+", " ").replace(
            "{{params.reporting_database}}", "PatentsView_20220630").replace(
                "{{params.raw_database}}", "patent")
        if parsed_statement.get_type().lower() == 'ddl':
            if single_line_query.startswith("DROP"):
                continue
#         if parsed_statement.get_type().lower() == 'insert':
        all_insert_queries.append([single_line_query,sql_file])

In [39]:
all_insert_queries

['alter table `PatentsView_20220630`.`location_uspc_mainclass` add index `ix_location_uspc_mainclass_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`location_uspc_mainclass` add index `ix_location_uspc_mainclass_mainclass_id` (`mainclass_id`);',
 'alter table `PatentsView_20220630`.`location_uspc_mainclass` add index `ix_location_uspc_mainclass_location_id` (`location_id`);',
 'alter table `PatentsView_20220630`.`location_year` add index `ix_location_year_year` (`year`);',
 'alter table `PatentsView_20220630`.`location_year` add index `ix_location_year_location_id` (`location_id`);',
 'alter table `PatentsView_20220630`.`location_year` add index `ix_location_year_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`location` add index `ix_location_county` (`county`);',
 'alter table `PatentsView_20220630`.`location` add index `ix_location_state_fips` (`state_fips`);',
 'alter table `PatentsView_20220630`.`location` add index `ix_location_county_fips` (`county_fips`);',
 'alter table `PatentsView_20220630`.`location` add index `ix_location_num_inventors` (`num_inventors`);',
 'alter table `PatentsView_20220630`.`location` add index `ix_location_city` (`city`);',
 'alter table `PatentsView_20220630`.`location` add index `ix_location_country` (`country`);',
 'alter table `PatentsView_20220630`.`location` add index `ix_location_persistent_location_id` (`persistent_location_id`);',
 'alter table `PatentsView_20220630`.`location` add index `ix_location_state` (`state`);',
 'alter table `PatentsView_20220630`.`location` add index `ix_location_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`location` add index `ix_location_num_assignees` (`num_assignees`);',
 'alter table `PatentsView_20220630`.`cpc_current` add index `ix_cpc_current_num_assignees` (`num_assignees`);',
 'alter table `PatentsView_20220630`.`cpc_current` add index `ix_cpc_current_num_inventors` (`num_inventors`);',
 'alter table `PatentsView_20220630`.`cpc_current` add index `ix_cpc_current_num_inventors_group` (`num_inventors_group`);',
 'alter table `PatentsView_20220630`.`cpc_current` add index `ix_cpc_current_num_assignees_group` (`num_assignees_group`);',
 'alter table `PatentsView_20220630`.`cpc_current` add index `ix_cpc_current_subsection_id` (`subsection_id`);',
 'alter table `PatentsView_20220630`.`cpc_current` add index `ix_cpc_current_num_patents_group` (`num_patents_group`);',
 'alter table `PatentsView_20220630`.`cpc_current` add index `ix_cpc_current_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`cpc_current` add index `ix_cpc_current_group_id` (`group_id`);',
 'alter table `PatentsView_20220630`.`cpc_current` add index `ix_cpc_current_subgroup_id` (`subgroup_id`);',
 'alter table `PatentsView_20220630`.`examiner` add index `ix_examiner_name_first` (`name_first`);',
 'alter table `PatentsView_20220630`.`examiner` add index `ix_examiner_name_last` (`name_last`);',
 'alter table `PatentsView_20220630`.`examiner` add index `ix_examiner_role` (`role`);',
 'alter table `PatentsView_20220630`.`examiner` add index `ix_examiner_group` (`group`);',
 'alter table `PatentsView_20220630`.`examiner` add index `ix_examiner_persistent_examiner_id` (`persistent_examiner_id`);',
 'alter table `PatentsView_20220630`.`location_cpc_group` add index `ix_location_cpc_group_location_id` (`location_id`);',
 'alter table `PatentsView_20220630`.`location_cpc_group` add index `ix_location_cpc_group_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`location_cpc_group` add index `ix_location_cpc_group_subsection_id` (`group_id`);',
 'alter table `PatentsView_20220630`.`location_cpc_subsection` add index `ix_location_cpc_subsection_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`location_cpc_subsection` add index `ix_location_cpc_subsection_subsection_id` (`subsection_id`);',
 'alter table `PatentsView_20220630`.`location_cpc_subsection` add index `ix_location_cpc_subsection_location_id` (`location_id`);',
 'alter table `PatentsView_20220630`.`location_inventor` add index `ix_location_inventor_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`location_inventor` add index `ix_location_inventor_inventor_id` (`inventor_id`);',
 'alter table `PatentsView_20220630`.`location_nber_subcategory` add index `ix_location_nber_subcategory_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`location_nber_subcategory` add index `ix_location_nber_subcategory_mainclass_id` (`subcategory_id`);',
 'alter table `PatentsView_20220630`.`location_nber_subcategory` add index `ix_location_nber_subcategory_location_id` (`location_id`);',
 'alter table `PatentsView_20220630`.`assignee_nber_subcategory` add index `ix_assignee_nber_subcategory_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`assignee_nber_subcategory` add index `ix_assignee_nber_subcategory_assignee_id` (`assignee_id`);',
 'alter table `PatentsView_20220630`.`assignee_nber_subcategory` add index `ix_assignee_nber_subcategory_subcategory_id` (`subcategory_id`);',
 'alter table `PatentsView_20220630`.`assignee_uspc_mainclass` add index `ix_assignee_uspc_mainclass_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`assignee_uspc_mainclass` add index `ix_assignee_uspc_mainclass_assignee_id` (`assignee_id`);',
 'alter table `PatentsView_20220630`.`assignee_uspc_mainclass` add index `ix_assignee_uspc_mainclass_mainclass_id` (`mainclass_id`);',
 'alter table `PatentsView_20220630`.`assignee_year` add index `ix_assignee_year_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`assignee_year` add index `ix_assignee_year_year` (`patent_year`);',
 'alter table `PatentsView_20220630`.`assignee_year` add index `ix_assignee_year_assignee_id` (`assignee_id`);',
 'alter table `PatentsView_20220630`.`assignee` add index `ix_assignee_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`assignee` add index `ix_assignee_first_seen_date` (`first_seen_date`);',
 'alter table `PatentsView_20220630`.`assignee` add index `ix_assignee_last_seen_date` (`last_seen_date`);',
 'alter table `PatentsView_20220630`.`assignee` add index `ix_assignee_lastknown_persistent_location_id` (`lastknown_persistent_location_id`);',
 'alter table `PatentsView_20220630`.`assignee` add index `ix_assignee_lastknown_location_id` (`lastknown_location_id`);',
 'alter table `PatentsView_20220630`.`assignee` add index `ix_assignee_name_first` (`name_first`);',
 'alter table `PatentsView_20220630`.`assignee` add index `ix_assignee_name_last` (`name_last`);',
 'alter table `PatentsView_20220630`.`assignee` add index `ix_assignee_organization` (`organization`);',
 'alter table `PatentsView_20220630`.`assignee` add index `ix_assignee_num_inventors` (`num_inventors`);',
 'alter table `PatentsView_20220630`.`assignee` add index `ix_assignee_persistent_assignee_id` (`persistent_assignee_id`);',
 'alter table `PatentsView_20220630`.`foreignpriority` add index `ix_foreignpriority_foreign_doc_number` (`foreign_doc_number`);',
 'alter table `PatentsView_20220630`.`foreignpriority` add index `ix_foreignpriority_date` (`date`);',
 'alter table `PatentsView_20220630`.`foreignpriority` add index `ix_foreignpriority_kind` (`kind`);',
 'alter table `PatentsView_20220630`.`foreignpriority` add index `ix_foreignpriority_country` (`country`);',
 'ALTER TABLE `PatentsView_20220630`.`government_interest` ADD FULLTEXT INDEX `fti_government_interest_gi_statement` (`gi_statement`);',
 'alter table `PatentsView_20220630`.`inventor_coinventor` add index `ix_inventor_coinventor_coinventor_id` (`coinventor_id`);',
 'alter table `PatentsView_20220630`.`inventor_coinventor` add index `ix_inventor_coinventor_inventor_id` (`inventor_id`);',
 'alter table `PatentsView_20220630`.`inventor_coinventor` add index `ix_inventor_coinventor_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`inventor_cpc_group` add index `ix_inventor_cpc_group_group_id` (`group_id`);',
 'alter table `PatentsView_20220630`.`inventor_cpc_group` add index `ix_inventor_cpc_group_inventor_id` (`inventor_id`);',
 'alter table `PatentsView_20220630`.`inventor_cpc_group` add index `ix_inventor_cpc_group_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`nber_subcategory_patent_year` add index `ix_nber_subcategory_patent_year_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`nber` add index `ix_nber_subcategory_id` (`subcategory_id`);',
 'alter table `PatentsView_20220630`.`nber` add index `ix_nber_num_inventors` (`num_inventors`);',
 'alter table `PatentsView_20220630`.`nber` add index `ix_nber_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`nber` add index `ix_nber_num_assignees` (`num_assignees`);',
 'alter table `PatentsView_20220630`.`nber` add index `ix_nber_category_id` (`category_id`);',
 'alter table `PatentsView_20220630`.`nber` add index `ix_nber_subcategory_title` (`subcategory_title`);',
 'alter table `PatentsView_20220630`.`patent_assignee` add index `ix_patent_assignee_location_id` (`location_id`);',
 'alter table `PatentsView_20220630`.`patent_inventor` add index `ix_patent_inventor_location_id` (`location_id`);',
 'alter table `PatentsView_20220630`.`patent` add index `ix_patent_firstnamed_inventor_location_id` (`firstnamed_inventor_location_id`);',
 'alter table `PatentsView_20220630`.`patent` add index `ix_patent_number` (`number`);',
 'alter table `PatentsView_20220630`.`patent` add index `ix_patent_title` (`title`(128));',
 'alter table `PatentsView_20220630`.`patent` add index `ix_patent_type` (`type`);',
 'alter table `PatentsView_20220630`.`patent` add index `ix_patent_year` (`year`);',
 'alter table `PatentsView_20220630`.`patent` add index `ix_patent_date` (`date`);',
 'alter table `PatentsView_20220630`.`patent` add index `ix_patent_firstnamed_inventor_persistent_location_id`(`firstnamed_inventor_persistent_location_id`);',
 'alter table `PatentsView_20220630`.`patent` add index `ix_patent_firstnamed_inventor_persistent_id` (`firstnamed_inventor_persistent_id`);',
 'alter table `PatentsView_20220630`.`patent` add index `ix_patent_firstnamed_assignee_location_id` (`firstnamed_assignee_location_id`);',
 'alter table `PatentsView_20220630`.`patent` add index `ix_patent_firstnamed_assignee_persistent_location_id`(`firstnamed_assignee_persistent_location_id`);',
 'alter table `PatentsView_20220630`.`patent` add index `ix_patent_firstnamed_assignee_persistent_id` (`firstnamed_assignee_persistent_id`);',
 'alter table `PatentsView_20220630`.`patent` add fulltext index `fti_patent_title` (`title`);',
 'alter table `PatentsView_20220630`.`patent` add index `ix_patent_firstnamed_inventor_id` (`firstnamed_inventor_id`);',
 'alter table `PatentsView_20220630`.`patent` add index `ix_patent_firstnamed_assignee_id` (`firstnamed_assignee_id`);',
 'alter table `PatentsView_20220630`.`patent` add index `ix_patent_num_claims` (`num_claims`);',
 'alter table `PatentsView_20220630`.`patent` add index `ix_patent_country` (`country`);',
 'alter table `PatentsView_20220630`.`patent` add fulltext index `fti_patent_abstract` (`abstract`);',
 'alter table `PatentsView_20220630`.`lawyer` add index `ix_lawyer_name_last` (`name_last`);',
 'alter table `PatentsView_20220630`.`lawyer` add index `ix_lawyer_organization` (`organization`);',
 'alter table `PatentsView_20220630`.`lawyer` add index `ix_lawyer_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`lawyer` add index `ix_lawyer_name_first` (`name_first`);',
 'alter table `PatentsView_20220630`.`lawyer` add index `ix_lawyer_num_assignees` (`num_assignees`);',
 'alter table `PatentsView_20220630`.`lawyer` add index `ix_lawyer_num_inventors` (`num_inventors`);',
 'alter table `PatentsView_20220630`.`lawyer` add index `ix_lawyer_first_seen_date` (`first_seen_date`);',
 'alter table `PatentsView_20220630`.`lawyer` add index `ix_lawyer_last_seen_date` (`last_seen_date`);',
 'alter table `PatentsView_20220630`.`lawyer` add index `ix_lawyer_persistent_lawyer_id` (`persistent_lawyer_id`);',
 'alter table `PatentsView_20220630`.`location_assignee` add index `ix_location_assignee_assignee_id` (`assignee_id`);',
 'alter table `PatentsView_20220630`.`location_assignee` add index `ix_location_assignee_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`cpc_current_group_patent_year` add index `ix_cpc_current_group_patent_year_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`cpc_current_group` add index `ix_cpc_current_group_title` (`group_title`);',
 'alter table `PatentsView_20220630`.`cpc_current_group` add index `ix_cpc_current_group_num_inventors` (`num_inventors`);',
 'alter table `PatentsView_20220630`.`cpc_current_group` add index `ix_cpc_current_group_num_assignees` (`num_assignees`);',
 'alter table `PatentsView_20220630`.`cpc_current_group` add index `ix_cpc_current_group_group_id` (`group_id`);',
 'alter table `PatentsView_20220630`.`cpc_current_group` add index `ix_cpc_current_group_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`cpc_current_subsection_patent_year` add index `ix_cpc_current_subsection_patent_year_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`cpc_current_subsection` add index `ix_cpc_current_subsection_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`cpc_current_subsection` add index `ix_cpc_current_subsection_num_inventors` (`num_inventors`);',
 'alter table `PatentsView_20220630`.`cpc_current_subsection` add index `ix_cpc_current_subsection_title` (`subsection_title`);',
 'alter table `PatentsView_20220630`.`cpc_current_subsection` add index `ix_cpc_current_subsection_num_assignees` (`num_assignees`);',
 'alter table `PatentsView_20220630`.`cpc_current_subsection` add index `ix_cpc_current_subsection_subsection_id` (`subsection_id`);',
 'alter table `PatentsView_20220630`.`pctdata` add index `ix_pctdata_102_date` (`102_date`);',
 'alter table `PatentsView_20220630`.`pctdata` add index `ix_pctdata_date` (`date`);',
 'alter table `PatentsView_20220630`.`pctdata` add index `ix_pctdata_doc_number` (`doc_number`);',
 'alter table `PatentsView_20220630`.`pctdata` add index `ix_pctdata_doc_type` (`doc_type`);',
 'alter table `PatentsView_20220630`.`pctdata` add index `ix_pctdata_371_date` (`371_date`);',
 'alter table `PatentsView_20220630`.`usapplicationcitation` add index `ix_usapplicationcitation_cited_application_id` (`cited_application_id`);',
 'alter table `PatentsView_20220630`.`uspatentcitation` add index `ix_uspatentcitation_cited_patent_id` (`cited_patent_id`);',
 'alter table `PatentsView_20220630`.`uspc_current_mainclass_patent_year` add index `ix_uspc_current_mainclass_patent_year_num_patents`(`num_patents`);',
 'alter table `PatentsView_20220630`.`uspc_current_mainclass` add index `ix_uspc_current_mainclass_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`uspc_current_mainclass` add fulltext index `fti_uspc_current_mainclass_mainclass_title` (`mainclass_title`);',
 'alter table `PatentsView_20220630`.`uspc_current_mainclass` add index `ix_uspc_current_mainclass_mainclass_title` (`mainclass_title`);',
 'alter table `PatentsView_20220630`.`uspc_current_mainclass` add index `ix_uspc_current_mainclass_num_assignees` (`num_assignees`);',
 'alter table `PatentsView_20220630`.`uspc_current_mainclass` add index `ix_uspc_current_mainclass_num_inventors` (`num_inventors`);',
 'alter table `PatentsView_20220630`.`uspc_current_mainclass` add index `ix_uspc_current_mainclass_mainclass_id` (`mainclass_id`);',
 'alter table `PatentsView_20220630`.`inventor_cpc_subsection` add index `ix_inventor_cpc_subsection_subsection_id` (`subsection_id`);',
 'alter table `PatentsView_20220630`.`inventor_cpc_subsection` add index `ix_inventor_cpc_subsection_inventor_id` (`inventor_id`);',
 'alter table `PatentsView_20220630`.`inventor_cpc_subsection` add index `ix_inventor_cpc_subsection_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`inventor_nber_subcategory` add index `ix_inventor_nber_subcategory_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`inventor_nber_subcategory` add index `ix_inventor_nber_subcategory_inventor_id` (`inventor_id`);',
 'alter table `PatentsView_20220630`.`inventor_nber_subcategory` add index `ix_inventor_nber_subcategory_subcategory_id` (`subcategory_id`);',
 'alter table `PatentsView_20220630`.`inventor_uspc_mainclass` add index `ix_inventor_uspc_mainclass_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`inventor_uspc_mainclass` add index `ix_inventor_uspc_mainclass_inventor_id` (`inventor_id`);',
 'alter table `PatentsView_20220630`.`inventor_uspc_mainclass` add index `ix_inventor_uspc_mainclass_mainclass_id` (`mainclass_id`);',
 'alter table `PatentsView_20220630`.`inventor_year` add index `ix_inventor_year_inventor_id` (`inventor_id`);',
 'alter table `PatentsView_20220630`.`inventor_year` add index `ix_inventor_year_year` (`patent_year`);',
 'alter table `PatentsView_20220630`.`inventor_year` add index `ix_inventor_year_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`inventor` add index `ix_inventor_lastknown_location_id` (`lastknown_location_id`);',
 'alter table `PatentsView_20220630`.`inventor` add index `ix_inventor_first_seen_date` (`first_seen_date`);',
 'alter table `PatentsView_20220630`.`inventor` add index `ix_inventor_last_seen_date` (`last_seen_date`);',
 'alter table `PatentsView_20220630`.`inventor` add index `ix_inventor_lastknown_persistent_location_id` (`lastknown_persistent_location_id`);',
 'alter table `PatentsView_20220630`.`inventor` add index `ix_inventor_num_assignees` (`num_assignees`);',
 'alter table `PatentsView_20220630`.`inventor` add index `ix_inventor_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`inventor` add index `ix_inventor_name_first` (`name_first`);',
 'alter table `PatentsView_20220630`.`inventor` add index `ix_inventor_name_last` (`name_last`);',
 'alter table `PatentsView_20220630`.`inventor` add index `ix_inventor_persistent_inventor_id` (`persistent_inventor_id`);',
 'alter table `PatentsView_20220630`.`ipcr` add index `ix_ipcr_ipc_class` (`ipc_class`);',
 'alter table `PatentsView_20220630`.`ipcr` add index `ix_ipcr_num_assignees` (`num_assignees`);',
 'alter table `PatentsView_20220630`.`ipcr` add index `ix_ipcr_num_inventors` (`num_inventors`);',
 'alter table `PatentsView_20220630`.`application` add index `ix_application_number` (`number`);',
 'alter table `PatentsView_20220630`.`application` add index `ix_application_patent_id` (`patent_id`);',
 'alter table `PatentsView_20220630`.`assignee_cpc_group` add index `ix_assignee_cpc_group_group_id` (`group_id`);',
 'alter table `PatentsView_20220630`.`assignee_cpc_group` add index `ix_assignee_cpc_group_assignee_id` (`assignee_id`);',
 'alter table `PatentsView_20220630`.`assignee_cpc_group` add index `ix_assignee_cpc_group_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`assignee_cpc_subsection` add index `ix_assignee_cpc_subsection_assignee_id` (`assignee_id`);',
 'alter table `PatentsView_20220630`.`assignee_cpc_subsection` add index `ix_assignee_cpc_subsection_subsection_id` (`subsection_id`);',
 'alter table `PatentsView_20220630`.`assignee_cpc_subsection` add index `ix_assignee_cpc_subsection_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`assignee_inventor` add index `ix_assignee_inventor_num_patents` (`num_patents`);',
 'alter table `PatentsView_20220630`.`assignee_inventor` add index `ix_assignee_inventor_assignee_id` (`assignee_id`);',
 'alter table `PatentsView_20220630`.`assignee_inventor` add index `ix_assignee_inventor_inventor_id` (`inventor_id`);']

In [42]:
final_table_list

['`PatentsView_20220630`.`temp_patent_firstnamed_assignee`',
 '`PatentsView_20220630`.`temp_id_mapping_assignee`',
 '`PatentsView_20220630`.`temp_id_mapping_location`',
 '`PatentsView_20220630`.`temp_patent_firstnamed_inventor`',
 '`PatentsView_20220630`.`temp_id_mapping_inventor`',
 '`PatentsView_20220630`.`temp_id_mapping_location`',
 '`PatentsView_20220630`.`patent`',
 '`PatentsView_20220630`.`temp_patent_date`',
 '`PatentsView_20220630`.`temp_patent_firstnamed_assignee`',
 '`PatentsView_20220630`.`temp_patent_firstnamed_inventor`',
 '`PatentsView_20220630`.`temp_patent_aggregations`',
 '`PatentsView_20220630`.`temp_patent_earliest_application_date`',
 '`PatentsView_20220630`.`temp_id_mapping_location`',
 '`PatentsView_20220630`.`temp_location_num_assignees`',
 '`PatentsView_20220630`.`temp_id_mapping_location`',
 '`PatentsView_20220630`.`temp_location_num_inventors`',
 '`PatentsView_20220630`.`temp_id_mapping_location`',
 '`{{params.x_database}}`.`location_inventor`',
 '`PatentsView_20220630`.`temp_location_patent`',
 '`PatentsView_20220630`.`temp_id_mapping_location`',
 '`PatentsView_20220630`.`temp_location_patent`',
 '`PatentsView_20220630`.`temp_id_mapping_location`',
 '`PatentsView_20220630`.`temp_location_num_patents`',
 '`PatentsView_20220630`.`temp_location_patent`',
 '`PatentsView_20220630`.`location`',
 '`PatentsView_20220630`.`temp_id_mapping_location`',
 '`PatentsView_20220630`.`temp_location_num_assignees`',
 '`PatentsView_20220630`.`temp_location_num_inventors`',
 '`PatentsView_20220630`.`temp_location_num_patents`',
 '`PatentsView_20220630`.`temp_inventor_lastknown_location`',
 '`PatentsView_20220630`.`temp_id_mapping_location`',
 '`PatentsView_20220630`.`patent_inventor`',
 '`PatentsView_20220630`.`temp_id_mapping_inventor`',
 '`PatentsView_20220630`.`temp_id_mapping_location`',
 '`PatentsView_20220630`.`location_inventor`',
 '`PatentsView_20220630`.`temp_id_mapping_location`',
 '`PatentsView_20220630`.`temp_id_mapping_inventor`',
 '`PatentsView_20220630`.`inventor`',
 '`PatentsView_20220630`.`temp_id_mapping_inventor`',
 '`PatentsView_20220630`.`temp_inventor_lastknown_location`',
 '`PatentsView_20220630`.`temp_inventor_num_patents`',
 '`PatentsView_20220630`.`temp_inventor_years_active`',
 '`PatentsView_20220630`.`temp_inventor_num_assignees`',
 '`PatentsView_20220630`.`temp_assignee_lastknown_location`',
 '`PatentsView_20220630`.`temp_id_mapping_location`',
 '`PatentsView_20220630`.`patent_assignee`',
 '`PatentsView_20220630`.`temp_id_mapping_assignee`',
 '`PatentsView_20220630`.`temp_id_mapping_location`',
 '`PatentsView_20220630`.`location_assignee`',
 '`PatentsView_20220630`.`temp_id_mapping_location`',
 '`PatentsView_20220630`.`temp_id_mapping_assignee`',
 '`PatentsView_20220630`.`assignee`',
 '`PatentsView_20220630`.`temp_id_mapping_assignee`',
 '`PatentsView_20220630`.`temp_assignee_lastknown_location`',
 '`PatentsView_20220630`.`temp_assignee_num_patents`',
 '`PatentsView_20220630`.`temp_assignee_years_active`',
 '`PatentsView_20220630`.`temp_assignee_num_inventors`']

In [46]:
len(final_query_list)

52

In [322]:
len(all_insert_queries)

115

In [323]:
G=nx.DiGraph()

In [12]:
# FINAL QUERY PULL 
dependencies = []
depend = pd.DataFrame(columns = ['DestinationTable', 'Tables', 'Query', 'LocationTable', 'num_location_id'])
for insert_query in all_insert_queries:
#     if "join" in insert_query:
#         temp = insert_query[:insert_query.index("join") + len("join")]
#     if "group by" in temp:
#         temp = temp[:temp.index("group by") + len("group by")]
    print("----------")
    print(insert_query)
    print("----------")
    loc_id_list = [s for s in insert_query.split(" ") if 'location_id' in s]
    print(loc_id_list)

    if len(loc_id_list)>=1:
        # TABLE & DATABASE WORD 
        insert_destination_search = re.search("INSERT INTO\s+(`[^`]+`\.`[^`]+`)", insert_query, re.IGNORECASE)
        if insert_destination_search is None:
            insert_destination_search = re.search("INSERT IGNORE INTO\s+(`[^`]+`\.`[^`]+`)", insert_query, re.IGNORECASE)
        print(insert_destination_search)
        destination = insert_destination_search.groups(1)[0]
        table_finder = re.compile("`[^`]+`\.`[^`]+`",  re.IGNORECASE)
        tables = table_finder.findall(insert_query)
        loc_table = [s for s in tables if 'location' in s]
        print("----------")
        print(tables)
        print("----------")
#         G.add_node(destination, attr_dict= {
#                 "sql":
#                 re.sub(
#                     "`PatentsView`(\.`[^`]+`)",
#                     "`{{reporting_database}}`\1",
#                     re.sub(
#                         "`patent`(\.`[^`]+`)",
#                         "`{{raw_database}}`\1",
#                         insert_query,
#                         flags=re.IGNORECASE),
#                     flags=re.IGNORECASE)
#             })
        dependencies.append(tables)
#         for t in tables:
#             G.add_edge(destination, t, )
        depend = depend.append({'DestinationTable': destination,'Tables': tables,'LocationTable': loc_table, 'Query' : insert_query , 'num_location_id' : len(loc_id_list)},
        ignore_index = True)

print(depend)

----------
insert into `PatentsView_20220630`.`temp_patent_firstnamed_assignee` ( `patent_id`, `assignee_id`, `persistent_assignee_id`, `location_id`, `persistent_location_id`, `city`, `state`, `country`, `latitude`, `longitude` ) select p.`id`, ta.`new_assignee_id`, ta.`old_assignee_id`, tl.`new_location_id`, tl.`old_location_id_transformed`, nullif(l.`city`, ''), nullif(l.`state`, ''), nullif(l.`country`, ''), l.`latitude`, l.`longitude` from `patent`.`patent` p left outer join `patent`.`rawassignee` ra on ra.`patent_id` = p.`id` and ra.`sequence` = 0 left outer join `PatentsView_20220630`.`temp_id_mapping_assignee` ta on ta.`old_assignee_id` = ra.`assignee_id` left outer join `patent`.`rawlocation` rl on rl.`id` = ra.`rawlocation_id` left outer join `patent`.`location` l on l.`id` = rl.`location_id` left outer join `PatentsView_20220630`.`temp_id_mapping_location` tl on l.`id` = tl.`old_location_id` where (ta.`new_assignee_id` is not null or tl.`new_location_id` is not null) and p.version_indicator<={{params.version_indicator}};
----------
['`location_id`,', '`persistent_location_id`,', 'tl.`new_location_id`,', 'tl.`old_location_id_transformed`,', 'ra.`rawlocation_id`', 'rl.`location_id`', 'tl.`old_location_id`', 'tl.`new_location_id`']
<re.Match object; span=(0, 68), match='insert into `PatentsView_20220630`.`temp_patent_f>
----------
['`PatentsView_20220630`.`temp_patent_firstnamed_assignee`', '`patent`.`patent`', '`patent`.`rawassignee`', '`PatentsView_20220630`.`temp_id_mapping_assignee`', '`patent`.`rawlocation`', '`patent`.`location`', '`PatentsView_20220630`.`temp_id_mapping_location`']
----------
----------
insert into `PatentsView_20220630`.`temp_patent_firstnamed_inventor` ( `patent_id`, `inventor_id`, `persistent_inventor_id`, `location_id`, `persistent_location_id`, `city`, `state`, `country`, `latitude`, `longitude` ) select p.`id`, ti.`new_inventor_id`, ti.`old_inventor_id`, tli.`new_location_id`, tli.`old_location_id_transformed`, nullif(l.`city`, ''), nullif(l.`state`, ''), nullif(l.`country`, ''), l.`latitude`, l.`longitude` from `patent`.`patent` p left outer join `patent`.`rawinventor` ri on ri.`patent_id` = p.`id` and ri.`sequence` = 0 left outer join `PatentsView_20220630`.`temp_id_mapping_inventor` ti on ti.`old_inventor_id` = ri.`inventor_id` left outer join `patent`.`rawlocation` rl on rl.`id` = ri.`rawlocation_id` left outer join `patent`.`location` l on l.`id` = rl.`location_id` left outer join `PatentsView_20220630`.`temp_id_mapping_location` tli on tli.`old_location_id` = l.`id` where (ti.`new_inventor_id` is not null or tli.`new_location_id` is not null)and p.version_indicator<={{params.version_indicator}};
----------
['`location_id`,', '`persistent_location_id`,', 'tli.`new_location_id`,', 'tli.`old_location_id_transformed`,', 'ri.`rawlocation_id`', 'rl.`location_id`', 'tli.`old_location_id`', 'tli.`new_location_id`']
<re.Match object; span=(0, 68), match='insert into `PatentsView_20220630`.`temp_patent_f>
----------
['`PatentsView_20220630`.`temp_patent_firstnamed_inventor`', '`patent`.`patent`', '`patent`.`rawinventor`', '`PatentsView_20220630`.`temp_id_mapping_inventor`', '`patent`.`rawlocation`', '`patent`.`location`', '`PatentsView_20220630`.`temp_id_mapping_location`']
----------
----------
insert into `PatentsView_20220630`.`temp_num_foreign_documents_cited` (`patent_id`, `num_foreign_documents_cited`) select `patent_id`, count(*) from `patent`.`foreigncitation` where version_indicator<={{params.version_indicator}} group by `patent_id`;
----------
[]
----------
insert into `PatentsView_20220630`.`temp_num_us_applications_cited` (`patent_id`, `num_us_applications_cited`) select `patent_id`, count(*) from `patent`.`usapplicationcitation` where version_indicator<={{params.version_indicator}} group by `patent_id`;
----------
[]
----------
insert into `PatentsView_20220630`.`temp_num_us_patents_cited` (`patent_id`, `num_us_patents_cited`) select `patent_id`, count(*) from `patent`.`uspatentcitation` where version_indicator<={{params.version_indicator}} group by `patent_id`;
----------
[]
----------
insert into `PatentsView_20220630`.`temp_num_times_cited_by_us_patents` (`patent_id`, `num_times_cited_by_us_patents`) select `citation_id`, count(*) from `patent`.`uspatentcitation` where `citation_id` is not null and `citation_id` != '' and version_indicator<={{params.version_indicator}} group by `citation_id`;
----------
[]
----------
insert into `PatentsView_20220630`.`temp_patent_aggregations` ( `patent_id`, `num_foreign_documents_cited`, `num_us_applications_cited`, `num_us_patents_cited`, `num_total_documents_cited`, `num_times_cited_by_us_patents` ) select p.`id`, ifnull(t1.num_foreign_documents_cited, 0), ifnull(t2.num_us_applications_cited, 0), ifnull(t3.num_us_patents_cited, 0), ifnull(t1.num_foreign_documents_cited, 0) + ifnull(t2.num_us_applications_cited, 0) + ifnull(t3.num_us_patents_cited, 0), ifnull(t4.num_times_cited_by_us_patents, 0) from `patent`.`patent` p left outer join `PatentsView_20220630`.`temp_num_foreign_documents_cited` t1 on t1.`patent_id` = p.`id` left outer join `PatentsView_20220630`.`temp_num_us_applications_cited` t2 on t2.`patent_id` = p.`id` left outer join `PatentsView_20220630`.`temp_num_us_patents_cited` t3 on t3.`patent_id` = p.`id` left outer join `PatentsView_20220630`.`temp_num_times_cited_by_us_patents` t4 on t4.`patent_id` = p.`id` where version_indicator<={{params.version_indicator}};
----------
[]
----------
insert into `PatentsView_20220630`.`temp_patent_earliest_application_date` (`patent_id`, `earliest_application_date`) select a.`patent_id`, min(a.`date`) from `patent`.`application` a where a.`date` is not null and a.`date` > date('1899-12-31') and a.`date` < date_add(current_date, interval 10 year) and version_indicator<={{params.version_indicator}} group by a.`patent_id`;
----------
[]
----------
insert into `PatentsView_20220630`.`temp_patent_date` (`patent_id`, `date`) select p.`id`, p.`date` from `patent`.`patent` p where p.`date` is not null and p.`date` > date('1899-12-31') and p.`date` < date_add(current_date, interval 10 year) and version_indicator<={{params.version_indicator}};
----------
[]
----------
insert into `PatentsView_20220630`.`patent` ( `patent_id`, `type`, `number`, `country`, `date`, `year`, `abstract`, `title`, `kind`, `num_claims`, `firstnamed_assignee_id`, `firstnamed_assignee_persistent_id`, `firstnamed_assignee_location_id`, `firstnamed_assignee_persistent_location_id`, `firstnamed_assignee_city`, `firstnamed_assignee_state`, `firstnamed_assignee_country`, `firstnamed_assignee_latitude`, `firstnamed_assignee_longitude`, `firstnamed_inventor_id`, `firstnamed_inventor_persistent_id`, `firstnamed_inventor_location_id`, `firstnamed_inventor_persistent_location_id`, `firstnamed_inventor_city`, `firstnamed_inventor_state`, `firstnamed_inventor_country`, `firstnamed_inventor_latitude`, `firstnamed_inventor_longitude`, `num_foreign_documents_cited`, `num_us_applications_cited`, `num_us_patents_cited`, `num_total_documents_cited`, `num_times_cited_by_us_patents`, `earliest_application_date`, `patent_processing_days`, `term_extension`, `detail_desc_length` ) select p.`id`, case when ifnull(p.`type`, '') = 'sir' then 'statutory invention registration' else nullif(trim(p.`type`), '') end, `number`, nullif(trim(p.`country`), ''), tpd.`date`, year(tpd.`date`), nullif(trim(p.`abstract`), ''), nullif(trim(p.`title`), ''), nullif(trim(p.`kind`), ''), p.`num_claims`, tpfna.`assignee_id`, tpfna.`persistent_assignee_id`, tpfna.`location_id`, tpfna.`persistent_location_id`, tpfna.`city`, tpfna.`state`, tpfna.`country`, tpfna.`latitude`, tpfna.`longitude`, tpfni.`inventor_id`, tpfni.`persistent_inventor_id`, tpfni.`location_id`, tpfni.`persistent_location_id`, tpfni.`city`, tpfni.`state`, tpfni.`country`, tpfni.`latitude`, tpfni.`longitude`, tpa.`num_foreign_documents_cited`, tpa.`num_us_applications_cited`, tpa.`num_us_patents_cited`, tpa.`num_total_documents_cited`, tpa.`num_times_cited_by_us_patents`, tpead.`earliest_application_date`, case when tpead.`earliest_application_date` <= p.`date` then timestampdiff(day, tpead.`earliest_application_date`, tpd.`date`) else null end, ustog.`term_extension`, `detail_desc_length` from `patent`.`patent` p left outer join `PatentsView_20220630`.`temp_patent_date` tpd on tpd.`patent_id` = p.`id` left outer join `PatentsView_20220630`.`temp_patent_firstnamed_assignee` tpfna on tpfna.`patent_id` = p.`id` left outer join `PatentsView_20220630`.`temp_patent_firstnamed_inventor` tpfni on tpfni.`patent_id` = p.`id` left outer join `PatentsView_20220630`.`temp_patent_aggregations` tpa on tpa.`patent_id` = p.`id` left outer join `PatentsView_20220630`.`temp_patent_earliest_application_date` tpead on tpead.`patent_id` = p.`id` left outer join `patent`.`us_term_of_grant` ustog on ustog.`patent_id`=p.`id` left outer join `patent`.`detail_desc_length` ddl on ddl.`patent_id` = p.`id` where p.version_indicator<={{params.version_indicator}};
----------
['`firstnamed_assignee_location_id`,', '`firstnamed_assignee_persistent_location_id`,', '`firstnamed_inventor_location_id`,', '`firstnamed_inventor_persistent_location_id`,', 'tpfna.`location_id`,', 'tpfna.`persistent_location_id`,', 'tpfni.`location_id`,', 'tpfni.`persistent_location_id`,']
<re.Match object; span=(0, 43), match='insert into `PatentsView_20220630`.`patent`'>
----------
['`PatentsView_20220630`.`patent`', '`patent`.`patent`', '`PatentsView_20220630`.`temp_patent_date`', '`PatentsView_20220630`.`temp_patent_firstnamed_assignee`', '`PatentsView_20220630`.`temp_patent_firstnamed_inventor`', '`PatentsView_20220630`.`temp_patent_aggregations`', '`PatentsView_20220630`.`temp_patent_earliest_application_date`', '`patent`.`us_term_of_grant`', '`patent`.`detail_desc_length`']
----------
----------
insert ignore into `PatentsView_20220630`.`temp_id_mapping_assignee` (`old_assignee_id`) select pa.`assignee_id` from `patent`.`rawassignee` pa where assignee_id is not null and version_indicator<={{params.version_indicator}};
----------
[]
----------
insert ignore into `PatentsView_20220630`.`temp_id_mapping_inventor` (`old_inventor_id`) select `inventor_id` from `patent`.`rawinventor` where inventor_id is not null and version_indicator<={{params.version_indicator}};
----------
[]
----------
insert ignore into `PatentsView_20220630`.`temp_id_mapping_lawyer` (`old_lawyer_id`) select `lawyer_id` from `patent`.`rawlawyer` where lawyer_id is not null and lawyer_id != '' and version_indicator<={{params.version_indicator}};
----------
[]
----------
insert into `PatentsView_20220630`.`temp_id_mapping_examiner` (`old_examiner_id`) select distinct `uuid` from `patent`.`rawexaminer` where version_indicator<= {{params.version_indicator}};
----------
[]
----------
insert into `PatentsView_20220630`.`temp_id_mapping_location` (`old_location_id`,`old_location_id_transformed`) select `id`,concat(latitude,'|',longitude) from `patent`.`location` where latitude is not null;
----------
['(`old_location_id`,`old_location_id_transformed`)']
<re.Match object; span=(0, 61), match='insert into `PatentsView_20220630`.`temp_id_mappi>
----------
['`PatentsView_20220630`.`temp_id_mapping_location`', '`patent`.`location`']
----------
----------
insert into `PatentsView_20220630`.`temp_location_num_assignees` (`location_id`, `num_assignees`) select timl.`new_location_id`, count(distinct la.`assignee_id`) from `PatentsView_20220630`.`temp_id_mapping_location` timl inner join `patent`.`location_assignee` la on la.`location_id` = timl.`old_location_id` group by timl.`new_location_id`;
----------
['(`location_id`,', 'timl.`new_location_id`,', 'la.`location_id`', 'timl.`old_location_id`', 'timl.`new_location_id`;']
<re.Match object; span=(0, 64), match='insert into `PatentsView_20220630`.`temp_location>
----------
['`PatentsView_20220630`.`temp_location_num_assignees`', '`PatentsView_20220630`.`temp_id_mapping_location`', '`patent`.`location_assignee`']
----------
----------
insert into `PatentsView_20220630`.`temp_location_num_inventors` (`location_id`, `num_inventors`) select timl.`new_location_id`, count(distinct li.`inventor_id`) from `PatentsView_20220630`.`temp_id_mapping_location` timl inner join `{{params.x_database}}`.`location_inventor` li on li.`location_id` = timl.`old_location_id` group by timl.`new_location_id`;
----------
['(`location_id`,', 'timl.`new_location_id`,', 'li.`location_id`', 'timl.`old_location_id`', 'timl.`new_location_id`;']
<re.Match object; span=(0, 64), match='insert into `PatentsView_20220630`.`temp_location>
----------
['`PatentsView_20220630`.`temp_location_num_inventors`', '`PatentsView_20220630`.`temp_id_mapping_location`', '`{{params.x_database}}`.`location_inventor`']
----------
----------
insert into `PatentsView_20220630`.`temp_location_patent` (`location_id`, `patent_id`) select timl.`new_location_id`, ri.`patent_id` from `PatentsView_20220630`.`temp_id_mapping_location` timl inner join `patent`.`rawlocation` rl on rl.`location_id` = timl.`old_location_id` inner join `patent`.`rawinventor` ri on ri.`rawlocation_id` = rl.`id`;
----------
['(`location_id`,', 'timl.`new_location_id`,', 'rl.`location_id`', 'timl.`old_location_id`', 'ri.`rawlocation_id`']
<re.Match object; span=(0, 57), match='insert into `PatentsView_20220630`.`temp_location>
----------
['`PatentsView_20220630`.`temp_location_patent`', '`PatentsView_20220630`.`temp_id_mapping_location`', '`patent`.`rawlocation`', '`patent`.`rawinventor`']
----------
----------
insert into `PatentsView_20220630`.`temp_location_patent` (`location_id`, `patent_id`) select timl.`new_location_id`, ra.`patent_id` from `PatentsView_20220630`.`temp_id_mapping_location` timl inner join `patent`.`rawlocation` rl on rl.`location_id` = timl.`old_location_id` inner join `patent`.`rawassignee` ra on ra.`rawlocation_id` = rl.`id`;
----------
['(`location_id`,', 'timl.`new_location_id`,', 'rl.`location_id`', 'timl.`old_location_id`', 'ra.`rawlocation_id`']
<re.Match object; span=(0, 57), match='insert into `PatentsView_20220630`.`temp_location>
----------
['`PatentsView_20220630`.`temp_location_patent`', '`PatentsView_20220630`.`temp_id_mapping_location`', '`patent`.`rawlocation`', '`patent`.`rawassignee`']
----------
----------
insert into `PatentsView_20220630`.`temp_location_num_patents` (`location_id`, `num_patents`) select `location_id`, count(distinct patent_id) from `PatentsView_20220630`.`temp_location_patent` group by `location_id`;
----------
['(`location_id`,', '`location_id`,', '`location_id`;']
<re.Match object; span=(0, 62), match='insert into `PatentsView_20220630`.`temp_location>
----------
['`PatentsView_20220630`.`temp_location_num_patents`', '`PatentsView_20220630`.`temp_location_patent`']
----------
----------
insert into `PatentsView_20220630`.`location` (`location_id`, `city`, `state`, `country`, `county`, `state_fips`, `county_fips`, `latitude`, `longitude`, `num_assignees`, `num_inventors`, `num_patents`, `persistent_location_id`) select timl.`new_location_id`, nullif(trim(l.`city`), ''), nullif(trim(l.`state`), ''), nullif(trim(l.`country`), ''), nullif(trim(l.`county`), ''), nullif(trim(l.`state_fips`), ''), nullif(trim(l.`county_fips`), ''), l.`latitude`, l.`longitude`, ifnull(tlna.`num_assignees`, 0), ifnull(tlni.`num_inventors`, 0), ifnull(tlnp.`num_patents`, 0), timl.`old_location_id_transformed` from `patent`.`location` l inner join `PatentsView_20220630`.`temp_id_mapping_location` timl on timl.`old_location_id` = l.`id` left outer join `PatentsView_20220630`.`temp_location_num_assignees` tlna on tlna.`location_id` = timl.`new_location_id` left outer join `PatentsView_20220630`.`temp_location_num_inventors` tlni on tlni.`location_id` = timl.`new_location_id` left outer join `PatentsView_20220630`.`temp_location_num_patents` tlnp on tlnp.`location_id` = timl.`new_location_id`;
----------
['(`location_id`,', '`persistent_location_id`)', 'timl.`new_location_id`,', 'timl.`old_location_id_transformed`', 'timl.`old_location_id`', 'tlna.`location_id`', 'timl.`new_location_id`', 'tlni.`location_id`', 'timl.`new_location_id`', 'tlnp.`location_id`', 'timl.`new_location_id`;']
<re.Match object; span=(0, 45), match='insert into `PatentsView_20220630`.`location`'>
----------
['`PatentsView_20220630`.`location`', '`patent`.`location`', '`PatentsView_20220630`.`temp_id_mapping_location`', '`PatentsView_20220630`.`temp_location_num_assignees`', '`PatentsView_20220630`.`temp_location_num_inventors`', '`PatentsView_20220630`.`temp_location_num_patents`']
----------
----------
  insert into `PatentsView_20220630`.`temp_inventor_lastknown_location` select t.`inventor_id`, tl.`new_location_id`, tl.`old_location_id_transformed`, nullif(trim(l.`city`), ''), nullif(trim(l.`state`), ''), nullif(trim(l.`country`), ''), l.`latitude`, l.`longitude`  from (select * from  (select ROW_NUMBER() OVER (PARTITION BY t.inventor_id ORDER BY t.`date` desc) AS rownum, t.`inventor_id`, t.`location_id` from ( select ri.`inventor_id`, rl.`location_id`, p.`date`, p.`id` from `patent`.`rawinventor` ri inner join `patent`.`patent` p on p.`id` = ri.`patent_id` inner join `patent`.`rawlocation` rl on rl.`id` = ri.`rawlocation_id` where ri.`inventor_id` is not null and rl.`location_id` is not null and ri.version_indicator <={{ params.version_indicator }} order by ri.`inventor_id`, p.`date` desc, p.`id` desc ) t) t where t.rownum = 1 ) t left join `patent`.`location` l on l.`id` = t.`location_id` left join `PatentsView_20220630`.`temp_id_mapping_location` tl on tl.`old_location_id`=t.`location_id`;
----------
['tl.`new_location_id`,', 'tl.`old_location_id_transformed`,', 't.`location_id`', 'rl.`location_id`,', 'ri.`rawlocation_id`', 'rl.`location_id`', 't.`location_id`', 'tl.`old_location_id`=t.`location_id`;']
<re.Match object; span=(2, 71), match='insert into `PatentsView_20220630`.`temp_inventor>
----------
['`PatentsView_20220630`.`temp_inventor_lastknown_location`', '`patent`.`rawinventor`', '`patent`.`patent`', '`patent`.`rawlocation`', '`patent`.`location`', '`PatentsView_20220630`.`temp_id_mapping_location`']
----------
----------
insert into `PatentsView_20220630`.`temp_inventor_num_patents` (`inventor_id`, `num_patents`) select `inventor_id`, count(distinct `patent_id`) from `patent`.`patent_inventor` pi join `{{ params.raw_database }}`.`patent` p on p.id=pi.patent_id where p.version_indicator <={{ params.version_indicator }} group by `inventor_id`;
----------
[]
----------
insert into `PatentsView_20220630`.`temp_inventor_num_assignees` (`inventor_id`, `num_assignees`) select ii.`inventor_id`, count(distinct aa.`assignee_id`) from `patent`.`patent_inventor` ii join `patent`.`patent_assignee` aa on aa.`patent_id` = ii.`patent_id` join `{{ params.raw_database }}`.`patent` p on p.id=ii.patent_id where p.version_indicator <={{ params.version_indicator }} group by ii.`inventor_id`;
----------
[]
----------
insert into `PatentsView_20220630`.`temp_inventor_years_active` (`inventor_id`, `first_seen_date`, `last_seen_date`, `actual_years_active`) select pa.`inventor_id`, min(p.`date`), max(p.`date`), ifnull(round(timestampdiff(day, min(p.`date`), max(p.`date`)) / 365), 0) from `patent`.`patent_inventor` pa inner join `PatentsView_20220630`.`patent` p on p.`patent_id`= pa.`patent_id` where p.`date` is not null group by pa.`inventor_id`;
----------
[]
----------
insert ignore into `PatentsView_20220630`.`patent_inventor` ( `patent_id`, `inventor_id`, `location_id`, `sequence` ) select pii.`patent_id`, t.`new_inventor_id`, tl.`new_location_id`, pii.`sequence` from `patent`.`patent_inventor` pii inner join `PatentsView_20220630`.`temp_id_mapping_inventor` t on t.`old_inventor_id` = pii.`inventor_id` left outer join `patent`.`location` rl on rl.`id` = pii.`location_id` left outer join `PatentsView_20220630`.`temp_id_mapping_location` tl on tl.`old_location_id` = rl.`id`;
----------

In [ ]:
all_insert_queries = []
for sql_file in list1:
    all_sql_content = open(sql_file).read()
    sql_statements = sqlparse.split(all_sql_content)

    for sql_statement in sql_statements:
        query_lines = []
        parsed_statement = sqlparse.parse(sql_statement)[0]
        for sql_line in parsed_statement.value.split("\n"):
            if not sql_line.startswith("#"):
                query_lines.append(" ".join(sql_line.split()))
        if len(query_lines) < 1:
            continue
        single_line_query = " ".join(query_lines).replace("[\s]+", " ").replace(
            "{{params.reporting_database}}", "PatentsView_20220630").replace(
                "{{params.raw_database}}", "patent")
        if parsed_statement.get_type().lower() == 'ddl':
            if single_line_query.startswith("DROP"):
                continue
        if parsed_statement.get_type().lower() == 'insert':
            all_insert_queries.append([single_line_query, sql_file])

In [16]:
final_table_list = []
for couple in dependencies:
    for i in couple:
        if '`patent`.' not in i: 
            final_table_list.append(i)

In [56]:
final_table_list.append('patent_inventor')
final_table_list.append('patent_assignee')

In [58]:
final_query_list = []
for insert_query, sql_file in all_insert_queries:
    for table in final_table_list:
        if table in insert_query:
            final_query_list.append([insert_query, sql_file])

In [59]:
len(final_query_list)

55

In [60]:
# FIND ALL INDEX QUERIES FOR TABLE LIST: 
final = pd.DataFrame(final_query_list, columns = ['query','file'])

In [61]:
final

                                                query             file
0   alter table `PatentsView_20220630`.`location` ...  05_10_index.sql
1   alter table `PatentsView_20220630`.`location` ...  05_10_index.sql
2   alter table `PatentsView_20220630`.`location` ...  05_10_index.sql
3   alter table `PatentsView_20220630`.`location` ...  05_10_index.sql
4   alter table `PatentsView_20220630`.`location` ...  05_10_index.sql
5   alter table `PatentsView_20220630`.`location` ...  05_10_index.sql
6   alter table `PatentsView_20220630`.`location` ...  05_10_index.sql
7   alter table `PatentsView_20220630`.`location` ...  05_10_index.sql
8   alter table `PatentsView_20220630`.`location` ...  05_10_index.sql
9   alter table `PatentsView_20220630`.`location` ...  05_10_index.sql
10  alter table `PatentsView_20220630`.`location_i...  05_09_index.sql
11  alter table `PatentsView_20220630`.`location_i...  05_09_index.sql
12  alter table `PatentsView_20220630`.`assignee` ...  05_02_index.sql
13  alter table `PatentsView_20220630`.`assignee` ...  05_02_index.sql
14  alter table `PatentsView_20220630`.`assignee` ...  05_02_index.sql
15  alter table `PatentsView_20220630`.`assignee` ...  05_02_index.sql
16  alter table `PatentsView_20220630`.`assignee` ...  05_02_index.sql
17  alter table `PatentsView_20220630`.`assignee` ...  05_02_index.sql
18  alter table `PatentsView_20220630`.`assignee` ...  05_02_index.sql
19  alter table `PatentsView_20220630`.`assignee` ...  05_02_index.sql
20  alter table `PatentsView_20220630`.`assignee` ...  05_02_index.sql
21  alter table `PatentsView_20220630`.`assignee` ...  05_02_index.sql
22  alter table `PatentsView_20220630`.`patent_ass...  05_11_index.sql
23  alter table `PatentsView_20220630`.`patent_ass...  05_11_index.sql
24  alter table `PatentsView_20220630`.`patent_inv...  05_11_index.sql
25  alter table `PatentsView_20220630`.`patent_inv...  05_11_index.sql
26  alter table `PatentsView_20220630`.`patent_inv...  05_11_index.sql
27  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
28  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
29  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
30  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
31  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
32  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
33  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
34  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
35  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
36  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
37  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
38  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
39  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
40  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
41  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
42  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
43  alter table `PatentsView_20220630`.`patent` ad...  05_11_index.sql
44  alter table `PatentsView_20220630`.`location_a...  05_08_index.sql
45  alter table `PatentsView_20220630`.`location_a...  05_08_index.sql
46  alter table `PatentsView_20220630`.`inventor` ...  05_07_index.sql
47  alter table `PatentsView_20220630`.`inventor` ...  05_07_index.sql
48  alter table `PatentsView_20220630`.`inventor` ...  05_07_index.sql
49  alter table `PatentsView_20220630`.`inventor` ...  05_07_index.sql
50  alter table `PatentsView_20220630`.`inventor` ...  05_07_index.sql
51  alter table `PatentsView_20220630`.`inventor` ...  05_07_index.sql
52  alter table `PatentsView_20220630`.`inventor` ...  05_07_index.sql
53  alter table `PatentsView_20220630`.`inventor` ...  05_07_index.sql
54  alter table `PatentsView_20220630`.`inventor` ...  05_07_index.sql

In [52]:
final.to_csv("final.csv")

In [54]:
pwd

'/Users/bcard/Library/CloudStorage/OneDrive-AmericanInstitutesforResearchintheBehavioralSciences/projects/patentsview/PatentsView-DB/reporting_database_generator'