In [2]:
import os
import pymysql
import datetime
import pandas as pd
from sqlalchemy import create_engine

In [15]:
pip install pendulum

Collecting pendulum
  Using cached pendulum-2.1.2-cp39-cp39-macosx_10_16_x86_64.whl
Collecting pytzdata>=2020.1
  Using cached pytzdata-2020.1-py2.py3-none-any.whl (489 kB)
Requirement already satisfied: python-dateutil<3.0,>=2.6 in /Users/bcard/opt/anaconda3/lib/python3.9/site-packages (from pendulum) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/bcard/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil<3.0,>=2.6->pendulum) (1.16.0)
Installing collected packages: pytzdata, pendulum
Successfully installed pendulum-2.1.2 pytzdata-2020.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
os.environ['PACKAGE_HOME']="/Users/bcard/OneDrive - American Institutes for Research in the Behavioral Sciences/projects/patentsview/PatentsView-DB"

In [4]:
pwd

'/Users/bcard/Downloads'

In [5]:
cd ..

/Users/bcard

In [6]:
cd OneDrive - American Institutes for Research in the Behavioral Sciences

/Users/bcard/Library/CloudStorage/OneDrive-AmericanInstitutesforResearchintheBehavioralSciences

In [7]:
cd projects/patentsview/PatentsView-DB

/Users/bcard/Library/CloudStorage/OneDrive-AmericanInstitutesforResearchintheBehavioralSciences/projects/patentsview/PatentsView-DB

# SET UP

In [8]:
from lib.configuration import get_config, get_connection_string, get_current_config


c=get_config()

In [9]:
config = get_current_config('granted_patent', **{
        "execution_date": datetime.date(2021, 4, 6)
    })

In [10]:
prod_connection_string=get_connection_string(config, database='TEXT_DB', connection='DATABASE_SETUP')

# GET ROW COUNT FOR PRODUCTION TABLES

In [47]:
prod_data = query_for_all_tables_in_db(prod_connection_string, 'patent_text')

In [49]:
prod_data

                TABLE_NAME
0        brf_sum_text_2017
1        brf_sum_text_1997
2              claims_2014
3    detail_desc_text_2013
4              claims_2010
..                     ...
194      brf_sum_text_1991
195  detail_desc_text_2015
196   claim_exemplary_2020
197       temp_patent_list
198            claims_1999

[199 rows x 1 columns]

In [88]:
#PGPUBS 
rename_columns_all_tables(prod_connection_string, prod_data)

brf_sum_text_2003

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2003' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2003 CHANGE COLUMN `text` `summary_text` mediumtext;
0.01282051282051282 OF TABLES COMPLETE

draw_desc_text_2011

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2011' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2011' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2011 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
0.02564102564102564 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2011 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
0.038461538461538464 OF TABLES COMPLETE

claim_2019

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2019' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2019' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2019' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2019 CHANGE COLUMN `sequence` `claim_sequence` int(11);
0.05128205128205128 OF TABLES COMPLETE

ALTER TABLE claim_2019 CHANGE COLUMN `text` `claim_text` mediumtext;
0.0641025641025641 OF TABLES COMPLETE

ALTER TABLE claim_2019 CHANGE COLUMN `num` `claim_number` varchar(128);
0.07692307692307693 OF TABLES COMPLETE

claim_2016

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2016' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2016' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2016' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2016 CHANGE COLUMN `sequence` `claim_sequence` int(11);
0.08974358974358974 OF TABLES COMPLETE

ALTER TABLE claim_2016 CHANGE COLUMN `text` `claim_text` mediumtext;
0.10256410256410256 OF TABLES COMPLETE

ALTER TABLE claim_2016 CHANGE COLUMN `num` `claim_number` varchar(128);
0.11538461538461539 OF TABLES COMPLETE

draw_desc_text_2019

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2019' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2019' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2019 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
0.1282051282051282 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2019 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
0.14102564102564102 OF TABLES COMPLETE

brf_sum_text_2021

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2021' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2021 CHANGE COLUMN `text` `summary_text` mediumtext;
0.15384615384615385 OF TABLES COMPLETE

detail_desc_text_2001

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2001' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2001' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2001 CHANGE COLUMN `length` `description_length` bigint(16);
0.16666666666666666 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2001 CHANGE COLUMN `text` `description_text` longtext;
0.1794871794871795 OF TABLES COMPLETE

brf_sum_text_2013

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2013' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2013 CHANGE COLUMN `text` `summary_text` mediumtext;
0.19230769230769232 OF TABLES COMPLETE

detail_desc_text_2015

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2015' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2015' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2015 CHANGE COLUMN `length` `description_length` bigint(16);
0.20512820512820512 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2015 CHANGE COLUMN `text` `description_text` longtext;
0.21794871794871795 OF TABLES COMPLETE

brf_sum_text_2016

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2016' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2016 CHANGE COLUMN `text` `summary_text` mediumtext;
0.23076923076923078 OF TABLES COMPLETE

draw_desc_text_2007

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2007' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2007' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2007 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
0.24358974358974358 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2007 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
0.2564102564102564 OF TABLES COMPLETE

claim_2001

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2001' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2001' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2001' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2001 CHANGE COLUMN `sequence` `claim_sequence` int(11);
0.2692307692307692 OF TABLES COMPLETE

ALTER TABLE claim_2001 CHANGE COLUMN `text` `claim_text` mediumtext;
0.28205128205128205 OF TABLES COMPLETE

ALTER TABLE claim_2001 CHANGE COLUMN `num` `claim_number` varchar(128);
0.2948717948717949 OF TABLES COMPLETE

detail_desc_text_2016

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2016' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2016' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2016 CHANGE COLUMN `length` `description_length` bigint(16);
0.3076923076923077 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2016 CHANGE COLUMN `text` `description_text` longtext;
0.32051282051282054 OF TABLES COMPLETE

claim_2021

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2021' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2021' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2021' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2021 CHANGE COLUMN `sequence` `claim_sequence` int(11);
0.3333333333333333 OF TABLES COMPLETE

ALTER TABLE claim_2021 CHANGE COLUMN `text` `claim_text` mediumtext;
0.34615384615384615 OF TABLES COMPLETE

ALTER TABLE claim_2021 CHANGE COLUMN `num` `claim_number` varchar(128);
0.358974358974359 OF TABLES COMPLETE

brf_sum_text_2020

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2020' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2020 CHANGE COLUMN `text` `summary_text` mediumtext;
0.3717948717948718 OF TABLES COMPLETE

claim_2008

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2008' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2008' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2008' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2008 CHANGE COLUMN `sequence` `claim_sequence` int(11);
0.38461538461538464 OF TABLES COMPLETE

ALTER TABLE claim_2008 CHANGE COLUMN `text` `claim_text` mediumtext;
0.3974358974358974 OF TABLES COMPLETE

ALTER TABLE claim_2008 CHANGE COLUMN `num` `claim_number` varchar(128);
0.41025641025641024 OF TABLES COMPLETE

brf_sum_text_2014

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2014' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2014 CHANGE COLUMN `text` `summary_text` mediumtext;
0.4230769230769231 OF TABLES COMPLETE

detail_desc_text_2005

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2005' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2005' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2005 CHANGE COLUMN `length` `description_length` bigint(16);
0.4358974358974359 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2005 CHANGE COLUMN `text` `description_text` longtext;
0.44871794871794873 OF TABLES COMPLETE

detail_desc_text_2006

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2006' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2006' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2006 CHANGE COLUMN `length` `description_length` bigint(16);
0.46153846153846156 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2006 CHANGE COLUMN `text` `description_text` longtext;
0.47435897435897434 OF TABLES COMPLETE

brf_sum_text_2008

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2008' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2008 CHANGE COLUMN `text` `summary_text` mediumtext;
0.48717948717948717 OF TABLES COMPLETE

claim_2002

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2002' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2002' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2002' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2002 CHANGE COLUMN `sequence` `claim_sequence` int(11);
0.5 OF TABLES COMPLETE

ALTER TABLE claim_2002 CHANGE COLUMN `text` `claim_text` mediumtext;
0.5128205128205128 OF TABLES COMPLETE

ALTER TABLE claim_2002 CHANGE COLUMN `num` `claim_number` varchar(128);
0.5256410256410257 OF TABLES COMPLETE

detail_desc_text_2022

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2022' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2022' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2022 CHANGE COLUMN `length` `description_length` bigint(16);
0.5384615384615384 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2022 CHANGE COLUMN `text` `description_text` longtext;
0.5512820512820513 OF TABLES COMPLETE

draw_desc_text_2021

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2021' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2021' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2021 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
0.5641025641025641 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2021 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
0.5769230769230769 OF TABLES COMPLETE

detail_desc_text_2020

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2020' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2020' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2020 CHANGE COLUMN `length` `description_length` bigint(16);
0.5897435897435898 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2020 CHANGE COLUMN `text` `description_text` longtext;
0.6025641025641025 OF TABLES COMPLETE

brf_sum_text_2004

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2004' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2004 CHANGE COLUMN `text` `summary_text` mediumtext;
0.6153846153846154 OF TABLES COMPLETE

brf_sum_text_2015

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2015' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2015 CHANGE COLUMN `text` `summary_text` mediumtext;
0.6282051282051282 OF TABLES COMPLETE

claim_2004

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2004' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2004' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2004' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2004 CHANGE COLUMN `sequence` `claim_sequence` int(11);
0.6410256410256411 OF TABLES COMPLETE

ALTER TABLE claim_2004 CHANGE COLUMN `text` `claim_text` mediumtext;
0.6538461538461539 OF TABLES COMPLETE

ALTER TABLE claim_2004 CHANGE COLUMN `num` `claim_number` varchar(128);
0.6666666666666666 OF TABLES COMPLETE

detail_desc_text_2013

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2013' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2013' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2013 CHANGE COLUMN `length` `description_length` bigint(16);
0.6794871794871795 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2013 CHANGE COLUMN `text` `description_text` longtext;
0.6923076923076923 OF TABLES COMPLETE

draw_desc_text_2020

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2020' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2020' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2020 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
0.7051282051282052 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2020 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
0.717948717948718 OF TABLES COMPLETE

claim_2006

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2006' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2006' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2006' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2006 CHANGE COLUMN `sequence` `claim_sequence` int(11);
0.7307692307692307 OF TABLES COMPLETE

ALTER TABLE claim_2006 CHANGE COLUMN `text` `claim_text` mediumtext;
0.7435897435897436 OF TABLES COMPLETE

ALTER TABLE claim_2006 CHANGE COLUMN `num` `claim_number` varchar(128);
0.7564102564102564 OF TABLES COMPLETE

claim_2015

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2015' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2015' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2015' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2015 CHANGE COLUMN `sequence` `claim_sequence` int(11);
0.7692307692307693 OF TABLES COMPLETE

ALTER TABLE claim_2015 CHANGE COLUMN `text` `claim_text` mediumtext;
0.782051282051282 OF TABLES COMPLETE

ALTER TABLE claim_2015 CHANGE COLUMN `num` `claim_number` varchar(128);
0.7948717948717948 OF TABLES COMPLETE

draw_desc_text_2002

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2002' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2002' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2002 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
0.8076923076923077 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2002 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
0.8205128205128205 OF TABLES COMPLETE

detail_desc_text_2003

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2003' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2003' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2003 CHANGE COLUMN `length` `description_length` bigint(16);
0.8333333333333334 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2003 CHANGE COLUMN `text` `description_text` longtext;
0.8461538461538461 OF TABLES COMPLETE

claim_2020

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2020' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2020' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2020' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2020 CHANGE COLUMN `sequence` `claim_sequence` int(11);
0.8589743589743589 OF TABLES COMPLETE

ALTER TABLE claim_2020 CHANGE COLUMN `text` `claim_text` mediumtext;
0.8717948717948718 OF TABLES COMPLETE

ALTER TABLE claim_2020 CHANGE COLUMN `num` `claim_number` varchar(128);
0.8846153846153846 OF TABLES COMPLETE

claim_2009

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2009' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2009' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2009' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2009 CHANGE COLUMN `sequence` `claim_sequence` int(11);
0.8974358974358975 OF TABLES COMPLETE

ALTER TABLE claim_2009 CHANGE COLUMN `text` `claim_text` mediumtext;
0.9102564102564102 OF TABLES COMPLETE

ALTER TABLE claim_2009 CHANGE COLUMN `num` `claim_number` varchar(128);
0.9230769230769231 OF TABLES COMPLETE

detail_desc_text_2010

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2010' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2010' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2010 CHANGE COLUMN `length` `description_length` bigint(16);
0.9358974358974359 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2010 CHANGE COLUMN `text` `description_text` longtext;
0.9487179487179487 OF TABLES COMPLETE

detail_desc_text_2019

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2019' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2019' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2019 CHANGE COLUMN `length` `description_length` bigint(16);
0.9615384615384616 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2019 CHANGE COLUMN `text` `description_text` longtext;
0.9743589743589743 OF TABLES COMPLETE

brf_sum_text_2022

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2022' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2022 CHANGE COLUMN `text` `summary_text` mediumtext;
0.9871794871794872 OF TABLES COMPLETE

claim_2010

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2010' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2010' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2010' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2010 CHANGE COLUMN `sequence` `claim_sequence` int(11);
1.0 OF TABLES COMPLETE

ALTER TABLE claim_2010 CHANGE COLUMN `text` `claim_text` mediumtext;
1.0128205128205128 OF TABLES COMPLETE

ALTER TABLE claim_2010 CHANGE COLUMN `num` `claim_number` varchar(128);
1.0256410256410255 OF TABLES COMPLETE

claim_2014

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2014' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2014' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2014' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2014 CHANGE COLUMN `sequence` `claim_sequence` int(11);
1.0384615384615385 OF TABLES COMPLETE

ALTER TABLE claim_2014 CHANGE COLUMN `text` `claim_text` mediumtext;
1.0512820512820513 OF TABLES COMPLETE

ALTER TABLE claim_2014 CHANGE COLUMN `num` `claim_number` varchar(128);
1.064102564102564 OF TABLES COMPLETE

detail_desc_text_2017

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2017' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2017' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2017 CHANGE COLUMN `length` `description_length` bigint(16);
1.0769230769230769 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2017 CHANGE COLUMN `text` `description_text` longtext;
1.0897435897435896 OF TABLES COMPLETE

draw_desc_text_2006

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2006' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2006' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2006 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
1.1025641025641026 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2006 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
1.1153846153846154 OF TABLES COMPLETE

detail_desc_text_2012

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2012' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2012' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2012 CHANGE COLUMN `length` `description_length` bigint(16);
1.1282051282051282 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2012 CHANGE COLUMN `text` `description_text` longtext;

1.141025641025641 OF TABLES COMPLETE

draw_desc_text_2008

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2008' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2008' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2008 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
1.1538461538461537 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2008 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
1.1666666666666667 OF TABLES COMPLETE

claim_2005

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2005' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2005' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2005' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2005 CHANGE COLUMN `sequence` `claim_sequence` int(11);
1.1794871794871795 OF TABLES COMPLETE

ALTER TABLE claim_2005 CHANGE COLUMN `text` `claim_text` mediumtext;
1.1923076923076923 OF TABLES COMPLETE

ALTER TABLE claim_2005 CHANGE COLUMN `num` `claim_number` varchar(128);
1.205128205128205 OF TABLES COMPLETE

detail_desc_text_2009

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2009' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2009' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2009 CHANGE COLUMN `length` `description_length` bigint(16);
1.2179487179487178 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2009 CHANGE COLUMN `text` `description_text` longtext;
1.2307692307692308 OF TABLES COMPLETE

brf_sum_text_2009

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2009' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2009 CHANGE COLUMN `text` `summary_text` mediumtext;
1.2435897435897436 OF TABLES COMPLETE

claim_2018

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2018' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2018' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2018' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2018 CHANGE COLUMN `sequence` `claim_sequence` int(11);
1.2564102564102564 OF TABLES COMPLETE

ALTER TABLE claim_2018 CHANGE COLUMN `text` `claim_text` mediumtext;
1.2692307692307692 OF TABLES COMPLETE

ALTER TABLE claim_2018 CHANGE COLUMN `num` `claim_number` varchar(128);
1.2820512820512822 OF TABLES COMPLETE

claim_2013

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2013' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2013' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2013' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2013 CHANGE COLUMN `sequence` `claim_sequence` int(11);
1.294871794871795 OF TABLES COMPLETE

ALTER TABLE claim_2013 CHANGE COLUMN `text` `claim_text` mediumtext;
1.3076923076923077 OF TABLES COMPLETE

ALTER TABLE claim_2013 CHANGE COLUMN `num` `claim_number` varchar(128);
1.3205128205128205 OF TABLES COMPLETE

draw_desc_text_2016

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2016' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2016' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2016 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
1.3333333333333333 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2016 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
1.3461538461538463 OF TABLES COMPLETE

brf_sum_text_2006

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2006' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2006 CHANGE COLUMN `text` `summary_text` mediumtext;
1.358974358974359 OF TABLES COMPLETE

detail_desc_text_2014

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2014' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2014' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2014 CHANGE COLUMN `length` `description_length` bigint(16);
1.3717948717948718 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2014 CHANGE COLUMN `text` `description_text` longtext;
1.3846153846153846 OF TABLES COMPLETE

brf_sum_text_2019

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2019' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2019 CHANGE COLUMN `text` `summary_text` mediumtext;
1.3974358974358974 OF TABLES COMPLETE

detail_desc_text_2007

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2007' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2007' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2007 CHANGE COLUMN `length` `description_length` bigint(16);
1.4102564102564104 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2007 CHANGE COLUMN `text` `description_text` longtext;
1.4230769230769231 OF TABLES COMPLETE

draw_desc_text_2018

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2018' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2018' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2018 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
1.435897435897436 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2018 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
1.4487179487179487 OF TABLES COMPLETE

brf_sum_text_2007

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2007' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2007 CHANGE COLUMN `text` `summary_text` mediumtext;
1.4615384615384615 OF TABLES COMPLETE

detail_desc_text_2021

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2021' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2021' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2021 CHANGE COLUMN `length` `description_length` bigint(16);
1.4743589743589745 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2021 CHANGE COLUMN `text` `description_text` longtext;
1.4871794871794872 OF TABLES COMPLETE

detail_desc_text_2011

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2011' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2011' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2011 CHANGE COLUMN `length` `description_length` bigint(16);
1.5 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2011 CHANGE COLUMN `text` `description_text` longtext;
1.5128205128205128 OF TABLES COMPLETE

draw_desc_text_2001

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2001' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2001' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2001 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
1.5256410256410255 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2001 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
1.5384615384615385 OF TABLES COMPLETE

brf_sum_text_2017

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2017' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2017 CHANGE COLUMN `text` `summary_text` mediumtext;
1.5512820512820513 OF TABLES COMPLETE

brf_sum_text_2012

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2012' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2012 CHANGE COLUMN `text` `summary_text` mediumtext;
1.564102564102564 OF TABLES COMPLETE

detail_desc_text_2018

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2018' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2018' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2018 CHANGE COLUMN `length` `description_length` bigint(16);
1.5769230769230769 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2018 CHANGE COLUMN `text` `description_text` longtext;
1.5897435897435896 OF TABLES COMPLETE

draw_desc_text_2022

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2022' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2022' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2022 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
1.6025641025641026 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2022 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
1.6153846153846154 OF TABLES COMPLETE

brf_sum_text_2011

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2011' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2011 CHANGE COLUMN `text` `summary_text` mediumtext;
1.6282051282051282 OF TABLES COMPLETE

brf_sum_text_2001

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2001' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2001 CHANGE COLUMN `text` `summary_text` mediumtext;
1.641025641025641 OF TABLES COMPLETE

detail_desc_text_2002

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2002' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2002' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2002 CHANGE COLUMN `length` `description_length` bigint(16);
1.6538461538461537 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2002 CHANGE COLUMN `text` `description_text` longtext;
1.6666666666666667 OF TABLES COMPLETE

brf_sum_text_2010

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2010' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2010 CHANGE COLUMN `text` `summary_text` mediumtext;
1.6794871794871795 OF TABLES COMPLETE

draw_desc_text_2009

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2009' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2009' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2009 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
1.6923076923076923 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2009 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
1.705128205128205 OF TABLES COMPLETE

draw_desc_text_2010

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2010' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2010' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2010 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
1.7179487179487178 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2010 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
1.7307692307692308 OF TABLES COMPLETE

draw_desc_text_2015

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2015' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2015' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2015 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
1.7435897435897436 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2015 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
1.7564102564102564 OF TABLES COMPLETE

claim_2012

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2012' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2012' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claim_2012' AND COLUMN_NAME = 'num' and table_schema = 'pgpubs_text';
ALTER TABLE claim_2012 CHANGE COLUMN `sequence` `claim_sequence` int(11);
1.7692307692307692 OF TABLES COMPLETE

ALTER TABLE claim_2012 CHANGE COLUMN `text` `claim_text` mediumtext;
1.7820512820512822 OF TABLES COMPLETE

ALTER TABLE claim_2012 CHANGE COLUMN `num` `claim_number` varchar(128);
1.794871794871795 OF TABLES COMPLETE

brf_sum_text_2002

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2002' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2002 CHANGE COLUMN `text` `summary_text` mediumtext;
1.8076923076923077 OF TABLES COMPLETE

brf_sum_text_2018

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2018' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2018 CHANGE COLUMN `text` `summary_text` mediumtext;
1.8205128205128205 OF TABLES COMPLETE

draw_desc_text_2013

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2013' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2013' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2013 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
1.8333333333333333 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2013 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
1.8461538461538463 OF TABLES COMPLETE

detail_desc_text_2008

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2008' AND COLUMN_NAME = 'length' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'detail_desc_text_2008' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE detail_desc_text_2008 CHANGE COLUMN `length` `description_length` bigint(16);
1.858974358974359 OF TABLES COMPLETE

ALTER TABLE detail_desc_text_2008 CHANGE COLUMN `text` `description_text` longtext;
1.8717948717948718 OF TABLES COMPLETE

draw_desc_text_2014

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2014' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2014' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2014 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
1.8846153846153846 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2014 CHANGE COLUMN `text` `draw_desc_text` mediumtext;

1.8974358974358974 OF TABLES COMPLETE

draw_desc_text_2004

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2004' AND COLUMN_NAME = 'sequence' and table_schema = 'pgpubs_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'draw_desc_text_2004' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE draw_desc_text_2004 CHANGE COLUMN `sequence` `draw_desc_sequence` int(11);
1.9102564102564104 OF TABLES COMPLETE

ALTER TABLE draw_desc_text_2004 CHANGE COLUMN `text` `draw_desc_text` mediumtext;
1.9230769230769231 OF TABLES COMPLETE

brf_sum_text_2005

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'brf_sum_text_2005' AND COLUMN_NAME = 'text' and table_schema = 'pgpubs_text';
ALTER TABLE brf_sum_text_2005 CHANGE COLUMN `text` `summary_text` mediumtext;
1.935897435897436 OF TABLES COMPLETE

In [80]:
df = pd.DataFrame(columns=['TABLE_NAME'])
df.loc[0] = ['brf_sum_text_1977']

In [129]:
#PATENT
rename_columns_all_tables(prod_connection_string, c_list)

------------------------------------
claims_2019
------------------------------------

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claims_2019' AND COLUMN_NAME = 'sequence' and table_schema = 'patent_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claims_2019' AND COLUMN_NAME = 'text' and table_schema = 'patent_text';
ALTER TABLE claims_2019 CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
ALTER TABLE claims_2019 CHANGE COLUMN `sequence` `claim_sequence` int(11);
ALTER TABLE claims_2019 CHANGE COLUMN `text` `claim_text` mediumtext;
0.25 % or 1 of 4 OF TABLES COMPLETE

------------------------------------
claims_2020
------------------------------------

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claims_2020' AND COLUMN_NAME = 'sequence' and table_schema = 'patent_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claims_2020' AND COLUMN_NAME = 'text' and table_schema = 'patent_text';
ALTER TABLE claims_2020 CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
ALTER TABLE claims_2020 CHANGE COLUMN `sequence` `claim_sequence` int(11);
ALTER TABLE claims_2020 CHANGE COLUMN `text` `claim_text` mediumtext;
0.5 % or 2 of 4 OF TABLES COMPLETE

------------------------------------
claims_2021
------------------------------------

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claims_2021' AND COLUMN_NAME = 'sequence' and table_schema = 'patent_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claims_2021' AND COLUMN_NAME = 'text' and table_schema = 'patent_text';
ALTER TABLE claims_2021 CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
ALTER TABLE claims_2021 CHANGE COLUMN `sequence` `claim_sequence` int(11);
ALTER TABLE claims_2021 CHANGE COLUMN `text` `claim_text` longtext;
0.75 % or 3 of 4 OF TABLES COMPLETE

------------------------------------
claims_2022
------------------------------------

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claims_2022' AND COLUMN_NAME = 'sequence' and table_schema = 'patent_text';

SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS
WHERE table_name = 'claims_2022' AND COLUMN_NAME = 'text' and table_schema = 'patent_text';
ALTER TABLE claims_2022 CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
ALTER TABLE claims_2022 CHANGE COLUMN `sequence` `claim_sequence` int(11);
ALTER TABLE claims_2022 CHANGE COLUMN `text` `claim_text` longtext;
1.0 % or 4 of 4 OF TABLES COMPLETE

In [119]:
c_list.remove('claims_2003')

In [66]:
list(prod_data['TABLE_NAME'])

['brf_sum_text_2017',
 'brf_sum_text_1997',
 'claims_2014',
 'detail_desc_text_2013',
 'claims_2010',
 'brf_sum_text_2019',
 'detail_desc_text_2004',
 'draw_desc_text_2017',
 'detail_desc_text_1989',
 'claims_1977',
 'detail_desc_text_1993',
 'claims_2022',
 'claims_2017',
 'detail_desc_text_2018',
 'draw_desc_text_1984',
 'draw_desc_text_2006',
 'brf_sum_text_2010',
 'detail_desc_text_2007',
 'draw_desc_text_2001',
 'draw_desc_text_2008',
 'claims_2013',
 'brf_sum_text_1993',
 'detail_desc_text_1980',
 'detail_desc_text_2009',
 'detail_desc_text_2006',
 'claims_1987',
 'detail_desc_text_1992',
 'draw_desc_text_1991',
 'detail_desc_text_1977',
 'h_dates',
 'brf_sum_text_2013',
 'detail_desc_text_1994',
 'brf_sum_text_1998',
 'brf_sum_text_1985',
 'claims_1989',
 'claims_1983',
 'detail_desc_text_2008',
 'brf_sum_text_2003',
 'claims_2011',
 'brf_sum_text_2008',
 'draw_desc_text_2012',
 'claims_1996',
 'draw_desc_text_1995',
 'claims_1982',
 'detail_desc_text_2016',
 'claims_2001',
 'claims_1986',
 'draw_desc_text_2002',
 'draw_desc_text_1982',
 'claims_1998',
 'draw_desc_text_1994',
 'detail_desc_text_1996',
 'detail_desc_text_1990',
 'brf_sum_text_2012',
 'brf_sum_text_2022',
 'old_claim',
 'brf_sum_text_1983',
 'detail_desc_text_1986',
 'detail_desc_text_2014',
 'draw_desc_text_2014',
 'claims_2007',
 'claims_1980',
 'detail_desc_text_1978',
 'draw_desc_text_2005',
 'draw_desc_text_1989',
 'draw_desc_text_2000',
 'brf_sum_text_1995',
 'draw_desc_text_2015',
 'claims_1993',
 'detail_desc_text_1982',
 'brf_sum_text_2004',
 'brf_sum_text_1977',
 'detail_desc_text_2011',
 'unmatched_claims',
 'draw_desc_text_2009',
 'claims_2003',
 'draw_desc_text_1979',
 'claims_1979',
 'brf_sum_text_2020',
 'detail_desc_text_2022',
 'detail_desc_text_1988',
 'brf_sum_text_2021',
 'brf_sum_text_1999',
 'detail_desc_text_2021',
 'brf_sum_text_1987',
 'draw_desc_text_2016',
 'draw_desc_text_1987',
 'draw_desc_text_1981',
 'detail_desc_text_2010',
 'draw_desc_text_1983',
 'claim_exemplary_2022',
 'detail_desc_text_2020',
 'brf_sum_text_2009',
 'detail_desc_text_1995',
 'claims_1997',
 'claims_2008',
 'draw_desc_text_1985',
 'draw_desc_text_2004',
 'claims_1995',
 'brf_sum_text_2002',
 'brf_sum_text_2000',
 'brf_sum_text_2007',
 'claims_2012',
 'claims_1985',
 'draw_desc_text_2011',
 'draw_desc_text_1976',
 'claims_2005',
 'detail_desc_text_1976',
 'claims_2000',
 'claims_2018',
 'brf_sum_text_1980',
 'claims_1978',
 'claims_2020',
 'brf_sum_text_2016',
 'detail_desc_text_2017',
 'claims_1994',
 'brf_sum_text_2011',
 'claims_1976',
 'brf_sum_text_2015',
 'claims_1988',
 'inventor_updated',
 'detail_desc_text_1991',
 'detail_desc_text_1997',
 'claims_2004',
 'brf_sum_text_1990',
 'draw_desc_text_2022',
 'brf_sum_text_1981',
 'draw_desc_text_2013',
 'draw_desc_text_1978',
 'brf_sum_text_1979',
 'brf_sum_text_2001',
 'claims_2009',
 'detail_desc_text_2000',
 'claims_2006',
 'brf_sum_text_1986',
 'brf_sum_text_1994',
 'brf_sum_text_2005',
 'draw_desc_text_2020',
 'claim_exemplary_2021',
 'draw_desc_text_2018',
 'draw_desc_text_1998',
 'claims_2021',
 'draw_desc_text_1999',
 'detail_desc_text_2003',
 'brf_sum_text_2014',
 'draw_desc_text_1992',
 'reparse_1985_v2',
 'detail_desc_text_2012',
 'claims_1990',
 'detail_desc_text_1985',
 'detail_desc_text_1998',
 'brf_sum_text_1976',
 'draw_desc_text_1990',
 'detail_desc_text_1981',
 'draw_desc_text_1977',
 'brf_sum_text_1982',
 'detail_desc_text_1983',
 'detail_desc_text_1984',
 'draw_desc_text_2010',
 'draw_desc_text_1986',
 'claims_1992',
 'detail_desc_text_2005',
 'draw_desc_text_1997',
 'draw_desc_text_2019',
 'detail_desc_text_2001',
 'brf_sum_text_2018',
 'draw_desc_text_1980',
 'detail_desc_text_1979',
 'brf_sum_text_1984',
 'brf_sum_text_2006',
 'detail_desc_text_2019',
 'claims_1981',
 'draw_desc_text_1996',
 'draw_desc_text_1993',
 'draw_desc_text_2021',
 'claims_2015',
 'claims_2019',
 'draw_desc_text_2003',
 'brf_sum_text_1989',
 'detail_desc_text_1987',
 'claims_2002',
 'claims_1984',
 'brf_sum_text_1996',
 'draw_desc_text_1988',
 'draw_desc_text_2007',
 'detail_desc_text_2002',
 'brf_sum_text_1992',
 'claims_1991',
 'detail_desc_text_1999',
 'brf_sum_text_1988',
 'brf_sum_text_1978',
 'draw_desc_text_1976_test',
 'claims_2016',
 'missing_claim',
 'brf_sum_text_1991',
 'detail_desc_text_2015',
 'claim_exemplary_2020',
 'temp_patent_list',
 'claims_1999']

In [98]:
d_list = []
for i in range(1976, 2002):
    temp = f'draw_desc_text_{i}'
    d_list.append(temp)

In [128]:
c_list = []
for i in range(2019, 2023):
    temp = f'claims_{i}'
    c_list.append(temp)

In [121]:
c_list

['claims_2004',
 'claims_2005',
 'claims_2006',
 'claims_2007',
 'claims_2008',
 'claims_2009',
 'claims_2010',
 'claims_2011',
 'claims_2012',
 'claims_2013',
 'claims_2014',
 'claims_2015',
 'claims_2016',
 'claims_2017',
 'claims_2018',
 'claims_2019',
 'claims_2020',
 'claims_2021',
 'claims_2022']

In [ ]:
c_list = []
for i in range(1976, 2002):
    temp = f'draw_desc_text_{i}'
    d_list.append(temp)

In [102]:
tables_bad, tables_good = test_collation(prod_connection_string, c_list)

   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0
   count(*)
0         0

In [ ]:
tables_bad

# FUNCTIONS

In [55]:
def query_for_all_tables_in_db(connection_string, database):
    engine=create_engine(connection_string)
    table_data_raw=pd.read_sql_query(sql=f"""
    select TABLE_NAME
    from information_schema.tables
    where TABLE_SCHEMA = '{database}' 
    """, con=engine)
    return table_data_raw

In [61]:
def get_data_type(connection_string, table_name, COLUMN_NAME, db):
    COLUMN_NAME = COLUMN_NAME.replace('`',"")
    engine=create_engine(connection_string)
    q = f"""
SELECT COLUMN_TYPE FROM INFORMATION_SCHEMA.COLUMNS 
WHERE table_name = '{table_name}' AND COLUMN_NAME = '{COLUMN_NAME}' and table_schema = '{db}';"""
    table_data_raw=pd.read_sql_query(sql=q, con=engine)
    print(q)
    return table_data_raw.iloc[0]['COLUMN_TYPE']

In [101]:
def test_collation(connection_string, tables_list):
    engine=create_engine(connection_string)
    tables_good = []
    tables_bad = []
    for t in tables_list:
        table_data_raw=pd.read_sql_query(sql=f"""
select count(*)
from {t} a
where a.text != CONVERT(a.text USING utf8mb4)
        """, con=engine)
        print(table_data_raw)
        if table_data_raw.iloc[0]['count(*)'] !=0:
            tables_bad.append(t)
        else:
            tables_good.append(t)
            
    return tables_bad, tables_good

In [87]:
# USED FOR PGPUBS 
# def rename_columns_all_tables(connection_string, df):
#     all_tables = list(set(df['TABLE_NAME']))
#     for i in ['claim_2007','draw_desc_text_2012', 'claim_2022', 'claim_2011', 'claim_2003', 'draw_desc_text_2005', 'draw_desc_text_2003','detail_desc_text_2004','claim_2017','draw_desc_text_2017']:
#         all_tables.remove(i)
#     engine=create_engine(connection_string)
#     total = len(all_tables)
#     counter = 1
#     for t in all_tables: 
#         print(t)
#         if 'brf_sum_text' in t:
#             data_type = get_data_type(connection_string, t, '`text`', 'pgpubs_text')
#             q_list = [f"""ALTER TABLE {t} CHANGE COLUMN `text` `summary_text` {data_type};"""]
            
#         elif 'claim' in t:
#             q_list = []
#             for i, j in [('`sequence`', '`claim_sequence`'), ('`text`', '`claim_text`'),('`num`', '`claim_number`')]:
#                 data_type = get_data_type(connection_string, t, i, 'pgpubs_text')
#                 q = f"""ALTER TABLE {t} CHANGE COLUMN {i} {j} {data_type};"""
#                 q_list.append(q)
                
#         elif 'detail_desc_text' in t:
#             q_list = []
#             for i, j in [('`length`', '`description_length`'), ('`text`', '`description_text`')]:
#                 data_type = get_data_type(connection_string, t, i, 'pgpubs_text')
#                 q = f"""ALTER TABLE {t} CHANGE COLUMN {i} {j} {data_type};"""
#                 q_list.append(q)
                
#         elif 'draw_desc_text' in t:
#             q_list = []
#             for i, j in [('`sequence`', '`draw_desc_sequence`'), ('`text`', '`draw_desc_text`')]:
#                 data_type = get_data_type(connection_string, t, i, 'pgpubs_text')
#                 q = f"""ALTER TABLE {t} CHANGE COLUMN {i} {j} {data_type};"""
#                 q_list.append(q)
#         else:
#             print(f"Skipping Table {t}")
            
#         for q in q_list:
#             print(q)
#             engine.execute(q)
#             print(f"{counter/total} OF TABLES COMPLETE")
#             print(" ")
#         counter = counter+1

In [120]:
# USED FOR PATENT 
def rename_columns_all_tables(connection_string, all_tables):
#     all_tables = list(set(df['TABLE_NAME']))
    engine=create_engine(connection_string)
#     all_tables.remove('detail_desc_text_1997')
#     all_tables.remove('brf_sum_text_2022')
#     all_tables.remove('draw_desc_text_2018')
#     all_tables.remove('draw_desc_text_2002')
    total = len(all_tables)
    counter = 1
    skip_next = False
    for t in all_tables: 
        skip_next = False
        print("------------------------------------")
        print(t)
        print("------------------------------------")
        if 'brf_sum_text' in t:
            data_type = get_data_type(connection_string, t, '`text`', 'patent_text')
            q_list = [f"""ALTER TABLE {t} CHANGE COLUMN `text` `summary_text` {data_type};"""]
            
        else:
            q_list = []
            q0 = f"""ALTER TABLE {t} CONVERT TO CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;"""
            q_list.append(q0)
            if 'claim' in t:
                for i, j in [('`sequence`', '`claim_sequence`'), ('`text`', '`claim_text`')]:
                    data_type = get_data_type(connection_string, t, i, 'patent_text')
                    q = f"""ALTER TABLE {t} CHANGE COLUMN {i} {j} {data_type};"""
                    q_list.append(q)
                
            elif 'detail_desc_text' in t:
                for i, j in [('`length`', '`description_length`'), ('`text`', '`description_text`')]:
                    data_type = get_data_type(connection_string, t, i, 'patent_text')
                    q = f"""ALTER TABLE {t} CHANGE COLUMN {i} {j} {data_type};"""
                    q_list.append(q)
                
            elif 'draw_desc_text' in t:
                for i, j in [('`sequence`', '`draw_desc_sequence`'), ('`text`', '`draw_desc_text`')]:
                    data_type = get_data_type(connection_string, t, i, 'patent_text')
                    q = f"""ALTER TABLE {t} CHANGE COLUMN {i} {j} {data_type};"""
                    q_list.append(q)
            else:
                skip_next = True
                print(f"Skipping Table {t}")

            if skip_next:
                print("------------------------------------")
                print(f"SKIPPING {t}")
                print("------------------------------------")
                continue
            else:
                for q in q_list:
                    print(q)
                    engine.execute(q)
            print(f"{counter/total} % or {counter} of {total} OF TABLES COMPLETE")
            print(" ")
            counter = counter+1

In [138]:
pwd

'/Users/bcard/Library/CloudStorage/OneDrive-AmericanInstitutesforResearchintheBehavioralSciences/projects/patentsview/PatentsView-DB'

In [72]:
cd ..

/Users/bcard

In [73]:
cd Downloads/

/Users/bcard/Downloads

In [74]:
final_fo_real.to_csv('pgpubs_version_indicator')